In [ ]:
import pandas as pd

bitcoin = pd.read_csv('bitcoin.csv')
crypto = pd.read_csv('crypto.csv')
stocks = pd.read_csv('stocks.csv')
wsb = pd.read_csv('wsb.csv')

In [ ]:
bitcoin.head()

                    Id                Label  ...  clustering  eigencentrality
0        fakebluepants        fakebluepants  ...    0.000000         0.000000
1           iupthedown           iupthedown  ...    0.000197         0.322942
2  WatermelonBestFruit  WatermelonBestFruit  ...    0.000000         0.000000
3            KreativiT            KreativiT  ...    0.000206         0.738745
4       StrikeoutJudge       StrikeoutJudge  ...    0.000000         0.000000

[5 rows x 15 columns]

#BTC - Crypto Overlap

In [ ]:
btc_cryp = []

for i in bitcoin["Id"]:
  for j in crypto["Id"]:
    if i in j:
      btc_cryp.append(bitcoin[bitcoin["Id"]==i].values)
      btc_cryp.append(crypto[crypto["Id"]==j].values)

btc_cryp

[array([['fixbikes', 'fixbikes', nan, 0, 1, 1, 0, 12, 12, 1, 1.0, 1.0,
         0.0, 0.0, 0.0]], dtype=object),
 array([['fixbikes', 'fixbikes', nan, 0, 1, 1, 0, 5, 5, 5, 0.404762,
         0.45784300000000006, 0.0, 0.0, 0.0]], dtype=object),
 array([['thescheit', 'thescheit', nan, 0, 1, 1, 0, 8, 8, 1, 1.0, 1.0,
         0.0, 0.0, 0.0]], dtype=object),
 array([['thescheit', 'thescheit', nan, 0, 1, 1, 0, 1, 1, 1, 1.0, 1.0,
         0.0, 0.0, 0.0]], dtype=object),
 array([['SaneLad', 'SaneLad', nan, 0, 3, 3, 0, 8, 8, 2, 0.8, 0.875, 0.0,
         0.0, 0.0]], dtype=object),
 array([['SaneLad', 'SaneLad', nan, 0, 2, 2, 0, 2, 2, 1, 1.0, 1.0, 0.0,
         0.0, 0.0]], dtype=object),
 array([['drhodl', 'drhodl', nan, 0, 3, 3, 0, 9, 9, 7, 0.258373, 0.315344,
         0.0, 0.0, 0.0]], dtype=object),
 array([['drhodl', 'drhodl', nan, 0, 4, 4, 0, 7, 7, 6, 0.42, 0.529365,
         0.0, 0.0, 0.0]], dtype=object),
 array([['MoneroWTF', 'MoneroWTF', nan, 0, 9, 9, 0, 14, 14, 3, 0.581395,
         0.666667, 0.0, 0.027777999999999997, 0.0]], dtype=object),
 array([['MoneroWTF', 'MoneroWTF', nan, 0, 1, 1, 0, 1, 1, 1, 1.0, 1.0,
         0.0, 0.0, 0.0]], dtype=object),
 array([['FINDTHESUN', 'FINDTHESUN', nan, 5, 1, 6, 13, 2, 15, 1, 1.0, 1.0,
         2.2, 0.06666699999999999, 0.009559]], dtype=object),
 array([['FINDTHESUN', 'FINDTHESUN', nan, 3, 0, 3, 3, 0, 3, 0, 0.0, 0.0,
         0.0, 0.0076760000000000005, 0.0]], dtype=object),
 array([['pingpongplaya69420', 'pingpongplaya69420', nan, 0, 4, 4, 0, 10,
         10, 7, 0.257576, 0.32506999999999997, 0.0, 0.0, 0.0]],
       dtype=object),
 array([['pingpongplaya69420', 'pingpongplaya69420', nan, 0, 1, 1, 0, 1,
         1, 3, 0.5, 0.611111, 0.0, 0.0, 0.0]], dtype=object),
 array([['testiclespectacles2', 'testiclespectacles2', nan, 3, 10, 13, 3,
         19, 22, 1, 1.0, 1.0, 498.833333, 0.038462, 0.012657999999999999]],
       dtype=object),
 array([['testiclespectacles2', 'testiclespectacles2', nan, 0, 1, 1, 0, 1,
         1, 1, 1.0, 1.0, 0.0, 0.0, 0.0]], dtype=object),
 array([['npjprods', 'npjprods', nan, 12, 2, 14, 16, 2, 18, 2, 0.666667,
         0.75, 122.0, 0.010989, 0.029969]], dtype=object),
 array([['npjprods', 'npjprods', nan, 0, 1, 1, 0, 1, 1, 2, 0.666667, 0.75,
         0.0, 0.0, 0.0]], dtype=object),
 array([['allovertheplaces', 'allovertheplaces', nan, 0, 1, 1, 0, 5, 5, 1,
         1.0, 1.0, 0.0, 0.0, 0.0]], dtype=object),
 array([['allovertheplaces', 'allovertheplaces', nan, 0, 1, 1, 0, 1, 1, 5,
         0.333333, 0.456667, 0.0, 0.0, 0.0]], dtype=object),
 array([['Austomic', 'Austomic', nan, 6, 0, 6, 13, 0, 13, 0, 0.0, 0.0,
         0.0, 0.0, 0.011470999999999999]], dtype=object),
 array([['Austomic', 'Austomic', nan, 9, 0, 9, 10, 0, 10, 0, 0.0, 0.0,
         0.0, 0.023027000000000002, 0.0]], dtype=object),
 array([['rewanpaj', 'rewanpaj', nan, 7, 1, 8, 17, 1, 18, 2, 0.666667,
         0.75, 11.5, 0.0, 0.013383]], dtype=object),
 array([['rewanpaj', 'rewanpaj', nan, 0, 1, 1, 0, 1, 1, 1, 1.0, 1.0, 0.0,
         0.0, 0.0]], dtype=object),
 array([['EarningsPal', 'EarningsPal', nan, 0, 2, 2, 0, 6, 6, 1, 1.0, 1.0,
         0.0, 0.0, 0.0]], dtype=object),
 array([['EarningsPal', 'EarningsPal', nan, 0, 1, 1, 0, 1, 1, 5, 0.333333,
         0.456667, 0.0, 0.0, 0.0]], dtype=object),
 array([['hominidnumber9', 'hominidnumber9', nan, 0, 3, 3, 0, 6, 6, 3,
         0.538462, 0.666667, 0.0, 0.0, 0.0]], dtype=object),
 array([['hominidnumber9', 'hominidnumber9', nan, 0, 1, 1, 0, 1, 1, 2,
         0.666667, 0.75, 0.0, 0.0, 0.0]], dtype=object),
 array([['apexisalonelyplace', 'apexisalonelyplace', nan, 0, 3, 3, 0, 6,
         6, 2, 0.714286, 0.8, 0.0, 0.0, 0.0]], dtype=object),
 array([['apexisalonelyplace', 'apexisalonelyplace', nan, 0, 1, 1, 0, 1,
         1, 1, 1.0, 1.0, 0.0, 0.0, 0.0]], dtype=object),
 array([['CoolioMcCool', 'CoolioMcCool', nan, 0, 1, 1, 0, 4, 4, 1, 1.0,
         1.0, 0.0, 0.0, 0.0]], dtype=object),
 array([['CoolioMcCool', 'CoolioMcCool', nan, 0, 1, 1, 0, 3, 3, 2,
         0.666667, 0.75, 0.0, 0.0, 0.0]], dtype=object),
 array([['Bee-Reddit-123', 'Bee-Reddit-123', nan, 0, 2, 2, 0, 4, 4, 2,
         0.666667, 0.75, 0.0, 0.0, 0.0]], dtype=object),
 array([['Bee-Reddit-123', 'Bee-Reddit-123', nan, 0, 1, 1, 0, 1, 1, 2,
         0.666667, 0.75, 0.0, 0.0, 0.0]], dtype=object),
 array([['nappiral', 'nappiral', nan, 0, 8, 8, 0, 10, 10, 2, 0.681818,
         0.766667, 0.0, 0.017856999999999998, 0.0]], dtype=object),
 array([['nappiral', 'nappiral', nan, 0, 1, 1, 0, 1, 1, 2, 0.666667, 0.75,
         0.0, 0.0, 0.0]], dtype=object),
 array([['tigger1105', 'tigger1105', nan, 0, 1, 1, 0, 3, 3, 1, 1.0, 1.0,
         0.0, 0.0, 0.0]], dtype=object),
 array([['tigger1105', 'tigger1105', nan, 0, 1, 1, 0, 1, 1, 3, 0.5,
         0.611111, 0.0, 0.0, 0.0]], dtype=object),
 array([['teniceguy', 'teniceguy', nan, 0, 10, 10, 0, 14, 14, 2, 0.8125,
         0.8846149999999999, 0.0, 0.0, 0.0]], dtype=object),
 array([['teniceguy', 'teniceguy', nan, 0, 1, 1, 0, 1, 1, 5, 0.333333,
         0.456667, 0.0, 0.0, 0.0]], dtype=object),
 array([['MuteUSOCrypto', 'MuteUSOCrypto', nan, 0, 1, 1, 0, 3, 3, 1, 1.0,
         1.0, 0.0, 0.0, 0.0]], dtype=object),
 array([['MuteUSOCrypto', 'MuteUSOCrypto', nan, 0, 5, 5, 0, 6, 6, 1, 1.0,
         1.0, 0.0, 0.0, 0.0]], dtype=object),
 array([['minimally__invasive', 'minimally__invasive', nan, 14, 5, 19, 20,
         9, 29, 1, 1.0, 1.0, 48.833333, 0.062091999999999994, 0.032701]],
       dtype=object),
 array([['minimally__invasive', 'minimally__invasive', nan, 1, 1, 2, 1, 2,
         3, 1, 1.0, 1.0, 7.5, 0.0073739999999999995, 0.0]], dtype=object),
 array([['khaotickk', 'khaotickk', nan, 0, 6, 6, 0, 8, 8, 2, 0.75,
         0.833333, 0.0, 0.0, 0.0]], dtype=object),
 array([['khaotickk', 'khaotickk', nan, 0, 1, 1, 0, 1, 1, 5, 0.333333,
         0.456667, 0.0, 0.0, 0.0]], dtype=object),
 array([['Nossa30', 'Nossa30', nan, 13, 21, 34, 13, 25, 38, 4, 0.551724,
         0.682292, 3172.166667, 0.026737999999999998,
         0.044785000000000005]], dtype=object),
 array([['Nossa30', 'Nossa30', nan, 0, 2, 2, 0, 2, 2, 5, 0.380952,
         0.514583, 0.0, 0.0, 0.0]], dtype=object),
 array([['WarrenMuppet007', 'WarrenMuppet007', nan, 0, 5, 5, 0, 7, 7, 2,
         0.857143, 0.916667, 0.0, 0.0, 0.0]], dtype=object),
 array([['WarrenMuppet007', 'WarrenMuppet007', nan, 0, 5, 5, 0, 8, 8, 6,
         0.38709699999999997, 0.593056, 0.0, 0.0, 0.0]], dtype=object),
 array([['Truffle_Shuffle_85', 'Truffle_Shuffle_85', nan, 0, 2, 2, 0, 4,
         4, 2, 0.666667, 0.75, 0.0, 0.0, 0.0]], dtype=object),
 array([['Truffle_Shuffle_85', 'Truffle_Shuffle_85', nan, 0, 3, 3, 0, 7,
         7, 5, 0.41176499999999994, 0.611905, 0.0, 0.0, 0.0]], dtype=object),
 array([['whatwhatwhichuser', 'whatwhatwhichuser', nan, 0, 16, 16, 0, 21,
         21, 2, 0.9, 0.9444440000000001, 0.0, 0.008333, 0.0]], dtype=object),
 array([['whatwhatwhichuser', 'whatwhatwhichuser', nan, 0, 2, 2, 0, 3, 3,
         5, 0.375, 0.547222, 0.0, 0.0, 0.0]], dtype=object),
 array([['hopscotchking', 'hopscotchking', nan, 0, 4, 4, 0, 9, 9, 3,
         0.478261, 0.606061, 0.0, 0.0, 0.0]], dtype=object),
 array([['hopscotchking', 'hopscotchking', nan, 0, 3, 3, 0, 3, 3, 4, 0.5,
         0.654762, 0.0, 0.0, 0.0]], dtype=object),
 array([['Alaska_Engineer', 'Alaska_Engineer', nan, 0, 3, 3, 0, 6, 6, 2,
         0.6153850000000001, 0.6875, 0.0, 0.0, 0.0]], dtype=object),
 array([['Alaska_Engineer', 'Alaska_Engineer', nan, 0, 3, 3, 0, 4, 4, 3,
         0.6, 0.722222, 0.0, 0.0, 0.166667]], dtype=object),
 array([['coinsntings', 'coinsntings', nan, 0, 4, 4, 0, 8, 8, 3, 0.526316,
         0.65, 0.0, 0.0, 0.0]], dtype=object),
 array([['coinsntings', 'coinsntings', nan, 0, 2, 2, 0, 8, 8, 3, 0.571429,
         0.708333, 0.0, 0.0, 0.0]], dtype=object),
 array([['sgtslaughterTV', 'sgtslaughterTV', nan, 0, 1, 1, 0, 3, 3, 1,
         1.0, 1.0, 0.0, 0.0, 0.0]], dtype=object),
 array([['sgtslaughterTV', 'sgtslaughterTV', nan, 0, 1, 1, 0, 1, 1, 1,
         1.0, 1.0, 0.0, 0.0, 0.0]], dtype=object),
 array([['NomBok', 'NomBok', nan, 0, 4, 4, 0, 7, 7, 2, 0.75, 0.833333,
         0.0, 0.0, 0.0]], dtype=object),
 array([['NomBok', 'NomBok', nan, 0, 1, 1, 0, 1, 1, 1, 1.0, 1.0, 0.0, 0.0,
         0.0]], dtype=object),
 array([['coinsfera', 'coinsfera', nan, 16, 1, 17, 17, 3, 20, 1, 1.0, 1.0,
         20.5, 0.0, 0.033272]], dtype=object),
 array([['coinsfera', 'coinsfera', nan, 0, 1, 1, 0, 1, 1, 3, 0.5,
         0.611111, 0.0, 0.0, 0.0]], dtype=object),
 array([['Letitride37', 'Letitride37', nan, 0, 3, 3, 0, 5, 5, 1, 1.0, 1.0,
         0.0, 0.166667, 0.0]], dtype=object),
 array([['Letitride37', 'Letitride37', nan, 0, 1, 1, 0, 1, 1, 2, 0.666667,
         0.75, 0.0, 0.0, 0.0]], dtype=object),
 array([['RFV1985', 'RFV1985', nan, 0, 2, 2, 0, 4, 4, 2, 0.75, 0.833333,
         0.0, 0.0, 0.0]], dtype=object),
 array([['RFV1985', 'RFV1985', nan, 0, 3, 3, 0, 3, 3, 4, 0.470588,
         0.614583, 0.0, 0.0, 0.0]], dtype=object),
 array([['shmoculus', 'shmoculus', nan, 0, 1, 1, 0, 3, 3, 1, 1.0, 1.0,
         0.0, 0.0, 0.0]], dtype=object),
 array([['shmoculus', 'shmoculus', nan, 0, 3, 3, 0, 3, 3, 1, 1.0, 1.0,
         0.0, 0.0, 0.0]], dtype=object),
 array([['The_furricane', 'The_furricane', nan, 0, 1, 1, 0, 2, 2, 1, 1.0,
         1.0, 0.0, 0.0, 0.0]], dtype=object),
 array([['The_furricane', 'The_furricane', nan, 0, 1, 1, 0, 1, 1, 2,
         0.666667, 0.75, 0.0, 0.0, 0.0]], dtype=object),
 array([['RogerWilco357', 'RogerWilco357', nan, 0, 4, 4, 0, 5, 5, 2,
         0.833333, 0.9, 0.0, 0.0, 0.0]], dtype=object),
 array([['RogerWilco357', 'RogerWilco357', nan, 0, 1, 1, 0, 1, 1, 2,
         0.666667, 0.75, 0.0, 0.0, 0.0]], dtype=object),
 array([['ElephantGlue', 'ElephantGlue', nan, 0, 6, 6, 0, 8, 8, 6,
         0.28876999999999997, 0.364815, 0.0, 0.0, 0.0]], dtype=object),
 array([['ElephantGlue', 'ElephantGlue', nan, 0, 1, 1, 0, 2, 2, 6, 0.3,
         0.34444400000000003, 0.0, 0.0, 0.0]], dtype=object),
 array([['je61', 'je61', nan, 0, 1, 1, 0, 2, 2, 1, 1.0, 1.0, 0.0, 0.0,
         0.0]], dtype=object),
 array([['je61', 'je61', nan, 0, 1, 1, 0, 1, 1, 2, 0.666667, 0.75, 0.0,
         0.0, 0.0]], dtype=object),
 array([['sebikun', 'sebikun', nan, 0, 5, 5, 0, 6, 6, 2, 0.777778,
         0.857143, 0.0, 0.0, 0.0]], dtype=object),
 array([['sebikun', 'sebikun', nan, 0, 2, 2, 0, 4, 4, 2, 0.75, 0.833333,
         0.0, 0.0, 0.0]], dtype=object),
 array([['IrieMars', 'IrieMars', nan, 0, 3, 3, 0, 4, 4, 1, 1.0, 1.0, 0.0,
         0.0, 0.0]], dtype=object),
 array([['IrieMars', 'IrieMars', nan, 0, 2, 2, 0, 2, 2, 2, 0.666667, 0.75,
         0.0, 0.0, 0.0]], dtype=object),
 array([['StefanStandUp', 'StefanStandUp', nan, 0, 3, 3, 0, 4, 4, 2,
         0.714286, 0.8, 0.0, 0.0, 0.0]], dtype=object),
 array([['StefanStandUp', 'StefanStandUp', nan, 0, 2, 2, 0, 2, 2, 3, 0.46,
         0.5, 0.0, 0.0, 0.0]], dtype=object),
 array([['Jumpy-Locksmith6812', 'Jumpy-Locksmith6812', nan, 0, 1, 1, 0, 2,
         2, 2, 0.666667, 0.75, 0.0, 0.0, 0.0]], dtype=object),
 array([['Jumpy-Locksmith6812', 'Jumpy-Locksmith6812', nan, 0, 1, 1, 0, 1,
         1, 2, 0.666667, 0.75, 0.0, 0.0, 0.0]], dtype=object),
 array([['JustJizzed', 'JustJizzed', nan, 0, 2, 2, 0, 3, 3, 1, 1.0, 1.0,
         0.0, 0.0, 0.0]], dtype=object),
 array([['JustJizzed', 'JustJizzed', nan, 0, 1, 1, 0, 2, 2, 2, 0.666667,
         0.75, 0.0, 0.0, 0.0]], dtype=object),
 array([['JazzyJayKarr', 'JazzyJayKarr', nan, 0, 10, 10, 0, 11, 11, 2,
         0.857143, 0.916667, 0.0, 0.0, 0.0]], dtype=object),
 array([['JazzyJayKarr', 'JazzyJayKarr', nan, 0, 2, 2, 0, 2, 2, 3,
         0.545455, 0.638889, 0.0, 0.0, 0.0]], dtype=object),
 array([['SteroidMan', 'SteroidMan', nan, 0, 1, 1, 0, 2, 2, 1, 1.0, 1.0,
         0.0, 0.0, 0.0]], dtype=object),
 array([['SteroidMan', 'SteroidMan', nan, 0, 2, 2, 0, 2, 2, 3, 0.571429,
         0.708333, 0.0, 0.0, 0.0]], dtype=object),
 array([['Girafferage', 'Girafferage', nan, 0, 3, 3, 0, 4, 4, 2, 0.8,
         0.875, 0.0, 0.0, 0.0]], dtype=object),
 array([['Girafferage', 'Girafferage', nan, 0, 2, 2, 0, 5, 5, 1, 1.0, 1.0,
         0.0, 0.0, 0.0]], dtype=object),
 array([['ScratchC', 'ScratchC', nan, 0, 1, 1, 0, 2, 2, 2, 0.666667, 0.75,
         0.0, 0.0, 0.0]], dtype=object),
 array([['ScratchC', 'ScratchC', nan, 0, 1, 1, 0, 1, 1, 5, 0.404762,
         0.45784300000000006, 0.0, 0.0, 0.0]], dtype=object),
 array([['mycherryamore', 'mycherryamore', nan, 0, 1, 1, 0, 2, 2, 2,
         0.666667, 0.75, 0.0, 0.0, 0.0]], dtype=object),
 array([['mycherryamore', 'mycherryamore', nan, 0, 1, 1, 0, 1, 1, 1, 1.0,
         1.0, 0.0, 0.0, 0.0]], dtype=object),
 array([['Lynxartcollection', 'Lynxartcollection', nan, 4, 3, 7, 5, 4, 9,
         1, 1.0, 1.0, 10.0, 0.047619, 0.007647]], dtype=object),
 array([['Lynxartcollection', 'Lynxartcollection', nan, 1, 0, 1, 1, 0, 1,
         0, 0.0, 0.0, 0.0, 0.002559, 0.0]], dtype=object),
 array([['ghostedagainlol', 'ghostedagainlol', nan, 0, 9, 9, 0, 11, 11, 2,
         0.8461540000000001, 0.909091, 0.0, 0.013888999999999999, 0.0]],
       dtype=object),
 array([['ghostedagainlol', 'ghostedagainlol', nan, 0, 3, 3, 0, 3, 3, 5,
         0.434783, 0.514167, 0.0, 0.0, 0.0]], dtype=object),
 array([['Dxt2590', 'Dxt2590', nan, 0, 1, 1, 0, 2, 2, 1, 1.0, 1.0, 0.0,
         0.0, 0.0]], dtype=object),
 array([['Dxt2590', 'Dxt2590', nan, 0, 1, 1, 0, 1, 1, 1, 1.0, 1.0, 0.0,
         0.0, 0.0]], dtype=object),
 array([['NimbleBodhi', 'NimbleBodhi', nan, 0, 4, 4, 0, 7, 7, 1, 1.0, 1.0,
         0.0, 0.0, 0.0]], dtype=object),
 array([['NimbleBodhi', 'NimbleBodhi', nan, 0, 1, 1, 0, 1, 1, 1, 1.0, 1.0,
         0.0, 0.0, 0.0]], dtype=object),
 array([['typhoon90', 'typhoon90', nan, 0, 2, 2, 0, 3, 3, 1, 1.0, 1.0,
         0.0, 0.0, 0.0]], dtype=object),
 array([['typhoon90', 'typhoon90', nan, 4, 0, 4, 4, 0, 4, 0, 0.0, 0.0,
         0.0, 0.010234, 0.0]], dtype=object),
 array([['PresJohnTyler', 'PresJohnTyler', nan, 0, 1, 1, 0, 2, 2, 1, 1.0,
         1.0, 0.0, 0.0, 0.0]], dtype=object),
 array([['PresJohnTyler', 'PresJohnTyler', nan, 0, 1, 1, 0, 1, 1, 1, 1.0,
         1.0, 0.0, 0.0, 0.0]], dtype=object),
 array([['kdoughboy12', 'kdoughboy12', nan, 0, 3, 3, 0, 4, 4, 1, 1.0, 1.0,
         0.0, 0.0, 0.0]], dtype=object),
 array([['kdoughboy12', 'kdoughboy12', nan, 0, 1, 1, 0, 3, 3, 3, 0.5,
         0.611111, 0.0, 0.0, 0.0]], dtype=object),
 array([['Btcyoda', 'Btcyoda', nan, 0, 10, 10, 0, 13, 13, 2, 0.916667,
         0.9545450000000001, 0.0, 0.011111, 0.0]], dtype=object),
 array([['Btcyoda', 'Btcyoda', nan, 0, 1, 1, 0, 1, 1, 1, 1.0, 1.0, 0.0,
         0.0, 0.0]], dtype=object),
 array([['loewelion', 'loewelion', nan, 0, 5, 5, 0, 6, 6, 3, 0.5,
         0.651515, 0.0, 0.0, 0.0]], dtype=object),
 array([['loewelion', 'loewelion', nan, 0, 1, 1, 0, 1, 1, 1, 1.0, 1.0,
         0.0, 0.0, 0.0]], dtype=object),
 array([['lephleg', 'lephleg', nan, 0, 1, 1, 0, 2, 2, 1, 1.0, 1.0, 0.0,
         0.0, 0.0]], dtype=object),
 array([['lephleg', 'lephleg', nan, 0, 1, 1, 0, 1, 1, 2, 0.666667, 0.75,
         0.0, 0.0, 0.0]], dtype=object),
 array([['bittabet', 'bittabet', nan, 0, 4, 4, 0, 5, 5, 1, 1.0, 1.0, 0.0,
         0.0, 0.0]], dtype=object),
 array([['bittabet', 'bittabet', nan, 0, 3, 3, 0, 3, 3, 1, 1.0, 1.0, 0.0,
         0.0, 0.0]], dtype=object),
 array([['cashout2022', 'cashout2022', nan, 0, 1, 1, 0, 2, 2, 1, 1.0, 1.0,
         0.0, 0.0, 0.0]], dtype=object),
 array([['cashout2022', 'cashout2022', nan, 0, 1, 1, 0, 1, 1, 1, 1.0, 1.0,
         0.0, 0.0, 0.0]], dtype=object),
 array([['xRaaRaa', 'xRaaRaa', nan, 0, 2, 2, 0, 3, 3, 2, 0.75, 0.833333,
         0.0, 0.0, 0.0]], dtype=object),
 array([['xRaaRaa', 'xRaaRaa', nan, 0, 2, 2, 0, 2, 2, 1, 1.0, 1.0, 0.0,
         0.0, 0.0]], dtype=object),
 array([['legend717', 'legend717', nan, 0, 2, 2, 0, 4, 4, 1, 1.0, 1.0,
         0.0, 0.5, 0.0]], dtype=object),
 array([['legend717', 'legend717', nan, 0, 1, 1, 0, 5, 5, 1, 1.0, 1.0,
         0.0, 0.0, 0.0]], dtype=object),
 array([['Ahrideva', 'Ahrideva', nan, 0, 1, 1, 0, 2, 2, 1, 1.0, 1.0, 0.0,
         0.0, 0.0]], dtype=object),
 array([['Ahrideva', 'Ahrideva', nan, 0, 1, 1, 0, 3, 3, 2, 0.666667, 0.75,
         0.0, 0.0, 0.0]], dtype=object),
 array([['squidjibo1', 'squidjibo1', nan, 0, 2, 2, 0, 3, 3, 2, 0.583333,
         0.642857, 0.0, 0.0, 0.0]], dtype=object),
 array([['squidjibo1', 'squidjibo1', nan, 0, 3, 3, 0, 6, 6, 3, 0.583333,
         0.690476, 0.0, 0.0, 0.0]], dtype=object),
 array([['ecky--ptang-zooboing', 'ecky--ptang-zooboing', nan, 0, 1, 1, 0,
         2, 2, 1, 1.0, 1.0, 0.0, 0.0, 0.0]], dtype=object),
 array([['ecky--ptang-zooboing', 'ecky--ptang-zooboing', nan, 0, 1, 1, 0,
         1, 1, 1, 1.0, 1.0, 0.0, 0.0, 0.0]], dtype=object),
 array([['ebliever', 'ebliever', nan, 0, 1, 1, 0, 2, 2, 1, 1.0, 1.0, 0.0,
         0.0, 0.0]], dtype=object),
 array([['ebliever', 'ebliever', nan, 0, 1, 1, 0, 1, 1, 5, 0.347826,
         0.43125, 0.0, 0.0, 0.0]], dtype=object),
 array([['Conflixx', 'Conflixx', nan, 0, 3, 3, 0, 4, 4, 1, 1.0, 1.0, 0.0,
         0.0, 0.0]], dtype=object),
 array([['Conflixx', 'Conflixx', nan, 0, 2, 2, 0, 2, 2, 3, 0.571429,
         0.708333, 0.0, 0.0, 0.0]], dtype=object),
 array([['masixx', 'masixx', nan, 0, 1, 1, 0, 2, 2, 1, 1.0, 1.0, 0.0, 0.0,
         0.0]], dtype=object),
 array([['masixx', 'masixx', nan, 0, 1, 1, 0, 1, 1, 1, 1.0, 1.0, 0.0, 0.0,
         0.0]], dtype=object),
 array([['ebaley', 'ebaley', nan, 0, 3, 3, 0, 4, 4, 2, 0.714286, 0.8, 0.0,
         0.0, 0.0]], dtype=object),
 array([['ebaley', 'ebaley', nan, 0, 8, 8, 0, 24, 24, 4,
         0.47727299999999995, 0.615079, 0.0, 0.0, 0.017856999999999998]],
       dtype=object),
 array([['succulentgoose', 'succulentgoose', nan, 0, 2, 2, 0, 3, 3, 6,
         0.300613, 0.346599, 0.0, 0.0, 0.0]], dtype=object),
 array([['succulentgoose', 'succulentgoose', nan, 0, 1, 1, 0, 1, 1, 2,
         0.666667, 0.75, 0.0, 0.0, 0.0]], dtype=object),
 array([['Drunkn_Cricket', 'Drunkn_Cricket', nan, 0, 2, 2, 0, 3, 3, 2,
         0.666667, 0.75, 0.0, 0.0, 0.0]], dtype=object),
 array([['Drunkn_Cricket', 'Drunkn_Cricket', nan, 0, 7, 7, 0, 11, 11, 1,
         1.0, 1.0, 0.0, 0.0, 0.0]], dtype=object),
 array([['Zombie4141', 'Zombie4141', nan, 0, 6, 6, 0, 7, 7, 5,
         0.37804899999999997, 0.476882, 0.0, 0.0, 0.0]], dtype=object),
 array([['Zombie4141', 'Zombie4141', nan, 0, 1, 1, 0, 3, 3, 3, 0.5,
         0.611111, 0.0, 0.0, 0.0]], dtype=object),
 array([['Chaff5', 'Chaff5', nan, 0, 3, 3, 0, 5, 5, 1, 1.0, 1.0, 0.0, 0.0,
         0.0]], dtype=object),
 array([['Chaff5', 'Chaff5', nan, 0, 1, 1, 0, 1, 1, 2, 0.666667, 0.75,
         0.0, 0.0, 0.0]], dtype=object),
 array([['iambabyjesus90', 'iambabyjesus90', nan, 0, 1, 1, 0, 1, 1, 1,
         1.0, 1.0, 0.0, 0.0, 0.0]], dtype=object),
 array([['iambabyjesus90', 'iambabyjesus90', nan, 0, 1, 1, 0, 1, 1, 3,
         0.5, 0.611111, 0.0, 0.0, 0.0]], dtype=object),
 array([['jgarcya', 'jgarcya', nan, 0, 1, 1, 0, 1, 1, 1, 1.0, 1.0, 0.0,
         0.0, 0.0]], dtype=object),
 array([['jgarcya', 'jgarcya', nan, 0, 4, 4, 0, 4, 4, 2, 0.75, 0.833333,
         0.0, 0.0, 0.0]], dtype=object),
 array([['Workerhard62', 'Workerhard62', nan, 5, 0, 5, 5, 0, 5, 0, 0.0,
         0.0, 0.0, 0.0, 0.009559]], dtype=object),
 array([['Workerhard62', 'Workerhard62', nan, 0, 1, 1, 0, 3, 3, 1, 1.0,
         1.0, 0.0, 0.0, 0.0]], dtype=object),
 array([['irresponsible_owl', 'irresponsible_owl', nan, 0, 2, 2, 0, 2, 2,
         1, 1.0, 1.0, 0.0, 0.0, 0.0]], dtype=object),
 array([['irresponsible_owl', 'irresponsible_owl', nan, 0, 1, 1, 0, 1, 1,
         1, 1.0, 1.0, 0.0, 0.0, 0.0]], dtype=object),
 array([['juanxin01', 'juanxin01', nan, 0, 1, 1, 0, 1, 1, 1, 1.0, 1.0,
         0.0, 0.0, 0.0]], dtype=object),
 array([['juanxin01', 'juanxin01', nan, 0, 1, 1, 0, 1, 1, 3, 0.5,
         0.611111, 0.0, 0.0, 0.0]], dtype=object),
 array([['kalashnikovkitty9420', 'kalashnikovkitty9420', nan, 0, 4, 4, 0,
         4, 4, 1, 1.0, 1.0, 0.0, 0.0, 0.0]], dtype=object),
 array([['kalashnikovkitty9420', 'kalashnikovkitty9420', nan, 0, 1, 1, 0,

In [ ]:
btc_cryp_pd = []

for i in btc_cryp:
  btc_cryp_pd.append(i[0])

btc_cryp_pd

[array(['fixbikes', 'fixbikes', nan, 0, 1, 1, 0, 12, 12, 1, 1.0, 1.0, 0.0,
        0.0, 0.0], dtype=object),
 array(['fixbikes', 'fixbikes', nan, 0, 1, 1, 0, 5, 5, 5, 0.404762,
        0.45784300000000006, 0.0, 0.0, 0.0], dtype=object),
 array(['thescheit', 'thescheit', nan, 0, 1, 1, 0, 8, 8, 1, 1.0, 1.0, 0.0,
        0.0, 0.0], dtype=object),
 array(['thescheit', 'thescheit', nan, 0, 1, 1, 0, 1, 1, 1, 1.0, 1.0, 0.0,
        0.0, 0.0], dtype=object),
 array(['SaneLad', 'SaneLad', nan, 0, 3, 3, 0, 8, 8, 2, 0.8, 0.875, 0.0,
        0.0, 0.0], dtype=object),
 array(['SaneLad', 'SaneLad', nan, 0, 2, 2, 0, 2, 2, 1, 1.0, 1.0, 0.0, 0.0,
        0.0], dtype=object),
 array(['drhodl', 'drhodl', nan, 0, 3, 3, 0, 9, 9, 7, 0.258373, 0.315344,
        0.0, 0.0, 0.0], dtype=object),
 array(['drhodl', 'drhodl', nan, 0, 4, 4, 0, 7, 7, 6, 0.42, 0.529365, 0.0,
        0.0, 0.0], dtype=object),
 array(['MoneroWTF', 'MoneroWTF', nan, 0, 9, 9, 0, 14, 14, 3, 0.581395,
        0.666667, 0.0, 0.027777999999999997, 0.0], dtype=object),
 array(['MoneroWTF', 'MoneroWTF', nan, 0, 1, 1, 0, 1, 1, 1, 1.0, 1.0, 0.0,
        0.0, 0.0], dtype=object),
 array(['FINDTHESUN', 'FINDTHESUN', nan, 5, 1, 6, 13, 2, 15, 1, 1.0, 1.0,
        2.2, 0.06666699999999999, 0.009559], dtype=object),
 array(['FINDTHESUN', 'FINDTHESUN', nan, 3, 0, 3, 3, 0, 3, 0, 0.0, 0.0,
        0.0, 0.0076760000000000005, 0.0], dtype=object),
 array(['pingpongplaya69420', 'pingpongplaya69420', nan, 0, 4, 4, 0, 10,
        10, 7, 0.257576, 0.32506999999999997, 0.0, 0.0, 0.0], dtype=object),
 array(['pingpongplaya69420', 'pingpongplaya69420', nan, 0, 1, 1, 0, 1, 1,
        3, 0.5, 0.611111, 0.0, 0.0, 0.0], dtype=object),
 array(['testiclespectacles2', 'testiclespectacles2', nan, 3, 10, 13, 3,
        19, 22, 1, 1.0, 1.0, 498.833333, 0.038462, 0.012657999999999999],
       dtype=object),
 array(['testiclespectacles2', 'testiclespectacles2', nan, 0, 1, 1, 0, 1,
        1, 1, 1.0, 1.0, 0.0, 0.0, 0.0], dtype=object),
 array(['npjprods', 'npjprods', nan, 12, 2, 14, 16, 2, 18, 2, 0.666667,
        0.75, 122.0, 0.010989, 0.029969], dtype=object),
 array(['npjprods', 'npjprods', nan, 0, 1, 1, 0, 1, 1, 2, 0.666667, 0.75,
        0.0, 0.0, 0.0], dtype=object),
 array(['allovertheplaces', 'allovertheplaces', nan, 0, 1, 1, 0, 5, 5, 1,
        1.0, 1.0, 0.0, 0.0, 0.0], dtype=object),
 array(['allovertheplaces', 'allovertheplaces', nan, 0, 1, 1, 0, 1, 1, 5,
        0.333333, 0.456667, 0.0, 0.0, 0.0], dtype=object),
 array(['Austomic', 'Austomic', nan, 6, 0, 6, 13, 0, 13, 0, 0.0, 0.0, 0.0,
        0.0, 0.011470999999999999], dtype=object),
 array(['Austomic', 'Austomic', nan, 9, 0, 9, 10, 0, 10, 0, 0.0, 0.0, 0.0,
        0.023027000000000002, 0.0], dtype=object),
 array(['rewanpaj', 'rewanpaj', nan, 7, 1, 8, 17, 1, 18, 2, 0.666667, 0.75,
        11.5, 0.0, 0.013383], dtype=object),
 array(['rewanpaj', 'rewanpaj', nan, 0, 1, 1, 0, 1, 1, 1, 1.0, 1.0, 0.0,
        0.0, 0.0], dtype=object),
 array(['EarningsPal', 'EarningsPal', nan, 0, 2, 2, 0, 6, 6, 1, 1.0, 1.0,
        0.0, 0.0, 0.0], dtype=object),
 array(['EarningsPal', 'EarningsPal', nan, 0, 1, 1, 0, 1, 1, 5, 0.333333,
        0.456667, 0.0, 0.0, 0.0], dtype=object),
 array(['hominidnumber9', 'hominidnumber9', nan, 0, 3, 3, 0, 6, 6, 3,
        0.538462, 0.666667, 0.0, 0.0, 0.0], dtype=object),
 array(['hominidnumber9', 'hominidnumber9', nan, 0, 1, 1, 0, 1, 1, 2,
        0.666667, 0.75, 0.0, 0.0, 0.0], dtype=object),
 array(['apexisalonelyplace', 'apexisalonelyplace', nan, 0, 3, 3, 0, 6, 6,
        2, 0.714286, 0.8, 0.0, 0.0, 0.0], dtype=object),
 array(['apexisalonelyplace', 'apexisalonelyplace', nan, 0, 1, 1, 0, 1, 1,
        1, 1.0, 1.0, 0.0, 0.0, 0.0], dtype=object),
 array(['CoolioMcCool', 'CoolioMcCool', nan, 0, 1, 1, 0, 4, 4, 1, 1.0, 1.0,
        0.0, 0.0, 0.0], dtype=object),
 array(['CoolioMcCool', 'CoolioMcCool', nan, 0, 1, 1, 0, 3, 3, 2, 0.666667,
        0.75, 0.0, 0.0, 0.0], dtype=object),
 array(['Bee-Reddit-123', 'Bee-Reddit-123', nan, 0, 2, 2, 0, 4, 4, 2,
        0.666667, 0.75, 0.0, 0.0, 0.0], dtype=object),
 array(['Bee-Reddit-123', 'Bee-Reddit-123', nan, 0, 1, 1, 0, 1, 1, 2,
        0.666667, 0.75, 0.0, 0.0, 0.0], dtype=object),
 array(['nappiral', 'nappiral', nan, 0, 8, 8, 0, 10, 10, 2, 0.681818,
        0.766667, 0.0, 0.017856999999999998, 0.0], dtype=object),
 array(['nappiral', 'nappiral', nan, 0, 1, 1, 0, 1, 1, 2, 0.666667, 0.75,
        0.0, 0.0, 0.0], dtype=object),
 array(['tigger1105', 'tigger1105', nan, 0, 1, 1, 0, 3, 3, 1, 1.0, 1.0,
        0.0, 0.0, 0.0], dtype=object),
 array(['tigger1105', 'tigger1105', nan, 0, 1, 1, 0, 1, 1, 3, 0.5,
        0.611111, 0.0, 0.0, 0.0], dtype=object),
 array(['teniceguy', 'teniceguy', nan, 0, 10, 10, 0, 14, 14, 2, 0.8125,
        0.8846149999999999, 0.0, 0.0, 0.0], dtype=object),
 array(['teniceguy', 'teniceguy', nan, 0, 1, 1, 0, 1, 1, 5, 0.333333,
        0.456667, 0.0, 0.0, 0.0], dtype=object),
 array(['MuteUSOCrypto', 'MuteUSOCrypto', nan, 0, 1, 1, 0, 3, 3, 1, 1.0,
        1.0, 0.0, 0.0, 0.0], dtype=object),
 array(['MuteUSOCrypto', 'MuteUSOCrypto', nan, 0, 5, 5, 0, 6, 6, 1, 1.0,
        1.0, 0.0, 0.0, 0.0], dtype=object),
 array(['minimally__invasive', 'minimally__invasive', nan, 14, 5, 19, 20,
        9, 29, 1, 1.0, 1.0, 48.833333, 0.062091999999999994, 0.032701],
       dtype=object),
 array(['minimally__invasive', 'minimally__invasive', nan, 1, 1, 2, 1, 2,
        3, 1, 1.0, 1.0, 7.5, 0.0073739999999999995, 0.0], dtype=object),
 array(['khaotickk', 'khaotickk', nan, 0, 6, 6, 0, 8, 8, 2, 0.75, 0.833333,
        0.0, 0.0, 0.0], dtype=object),
 array(['khaotickk', 'khaotickk', nan, 0, 1, 1, 0, 1, 1, 5, 0.333333,
        0.456667, 0.0, 0.0, 0.0], dtype=object),
 array(['Nossa30', 'Nossa30', nan, 13, 21, 34, 13, 25, 38, 4, 0.551724,
        0.682292, 3172.166667, 0.026737999999999998, 0.044785000000000005],
       dtype=object),
 array(['Nossa30', 'Nossa30', nan, 0, 2, 2, 0, 2, 2, 5, 0.380952, 0.514583,
        0.0, 0.0, 0.0], dtype=object),
 array(['WarrenMuppet007', 'WarrenMuppet007', nan, 0, 5, 5, 0, 7, 7, 2,
        0.857143, 0.916667, 0.0, 0.0, 0.0], dtype=object),
 array(['WarrenMuppet007', 'WarrenMuppet007', nan, 0, 5, 5, 0, 8, 8, 6,
        0.38709699999999997, 0.593056, 0.0, 0.0, 0.0], dtype=object),
 array(['Truffle_Shuffle_85', 'Truffle_Shuffle_85', nan, 0, 2, 2, 0, 4, 4,
        2, 0.666667, 0.75, 0.0, 0.0, 0.0], dtype=object),
 array(['Truffle_Shuffle_85', 'Truffle_Shuffle_85', nan, 0, 3, 3, 0, 7, 7,
        5, 0.41176499999999994, 0.611905, 0.0, 0.0, 0.0], dtype=object),
 array(['whatwhatwhichuser', 'whatwhatwhichuser', nan, 0, 16, 16, 0, 21,
        21, 2, 0.9, 0.9444440000000001, 0.0, 0.008333, 0.0], dtype=object),
 array(['whatwhatwhichuser', 'whatwhatwhichuser', nan, 0, 2, 2, 0, 3, 3, 5,
        0.375, 0.547222, 0.0, 0.0, 0.0], dtype=object),
 array(['hopscotchking', 'hopscotchking', nan, 0, 4, 4, 0, 9, 9, 3,
        0.478261, 0.606061, 0.0, 0.0, 0.0], dtype=object),
 array(['hopscotchking', 'hopscotchking', nan, 0, 3, 3, 0, 3, 3, 4, 0.5,
        0.654762, 0.0, 0.0, 0.0], dtype=object),
 array(['Alaska_Engineer', 'Alaska_Engineer', nan, 0, 3, 3, 0, 6, 6, 2,
        0.6153850000000001, 0.6875, 0.0, 0.0, 0.0], dtype=object),
 array(['Alaska_Engineer', 'Alaska_Engineer', nan, 0, 3, 3, 0, 4, 4, 3,
        0.6, 0.722222, 0.0, 0.0, 0.166667], dtype=object),
 array(['coinsntings', 'coinsntings', nan, 0, 4, 4, 0, 8, 8, 3, 0.526316,
        0.65, 0.0, 0.0, 0.0], dtype=object),
 array(['coinsntings', 'coinsntings', nan, 0, 2, 2, 0, 8, 8, 3, 0.571429,
        0.708333, 0.0, 0.0, 0.0], dtype=object),
 array(['sgtslaughterTV', 'sgtslaughterTV', nan, 0, 1, 1, 0, 3, 3, 1, 1.0,
        1.0, 0.0, 0.0, 0.0], dtype=object),
 array(['sgtslaughterTV', 'sgtslaughterTV', nan, 0, 1, 1, 0, 1, 1, 1, 1.0,
        1.0, 0.0, 0.0, 0.0], dtype=object),
 array(['NomBok', 'NomBok', nan, 0, 4, 4, 0, 7, 7, 2, 0.75, 0.833333, 0.0,
        0.0, 0.0], dtype=object),
 array(['NomBok', 'NomBok', nan, 0, 1, 1, 0, 1, 1, 1, 1.0, 1.0, 0.0, 0.0,
        0.0], dtype=object),
 array(['coinsfera', 'coinsfera', nan, 16, 1, 17, 17, 3, 20, 1, 1.0, 1.0,
        20.5, 0.0, 0.033272], dtype=object),
 array(['coinsfera', 'coinsfera', nan, 0, 1, 1, 0, 1, 1, 3, 0.5, 0.611111,
        0.0, 0.0, 0.0], dtype=object),
 array(['Letitride37', 'Letitride37', nan, 0, 3, 3, 0, 5, 5, 1, 1.0, 1.0,
        0.0, 0.166667, 0.0], dtype=object),
 array(['Letitride37', 'Letitride37', nan, 0, 1, 1, 0, 1, 1, 2, 0.666667,
        0.75, 0.0, 0.0, 0.0], dtype=object),
 array(['RFV1985', 'RFV1985', nan, 0, 2, 2, 0, 4, 4, 2, 0.75, 0.833333,
        0.0, 0.0, 0.0], dtype=object),
 array(['RFV1985', 'RFV1985', nan, 0, 3, 3, 0, 3, 3, 4, 0.470588, 0.614583,
        0.0, 0.0, 0.0], dtype=object),
 array(['shmoculus', 'shmoculus', nan, 0, 1, 1, 0, 3, 3, 1, 1.0, 1.0, 0.0,
        0.0, 0.0], dtype=object),
 array(['shmoculus', 'shmoculus', nan, 0, 3, 3, 0, 3, 3, 1, 1.0, 1.0, 0.0,
        0.0, 0.0], dtype=object),
 array(['The_furricane', 'The_furricane', nan, 0, 1, 1, 0, 2, 2, 1, 1.0,
        1.0, 0.0, 0.0, 0.0], dtype=object),
 array(['The_furricane', 'The_furricane', nan, 0, 1, 1, 0, 1, 1, 2,
        0.666667, 0.75, 0.0, 0.0, 0.0], dtype=object),
 array(['RogerWilco357', 'RogerWilco357', nan, 0, 4, 4, 0, 5, 5, 2,
        0.833333, 0.9, 0.0, 0.0, 0.0], dtype=object),
 array(['RogerWilco357', 'RogerWilco357', nan, 0, 1, 1, 0, 1, 1, 2,
        0.666667, 0.75, 0.0, 0.0, 0.0], dtype=object),
 array(['ElephantGlue', 'ElephantGlue', nan, 0, 6, 6, 0, 8, 8, 6,
        0.28876999999999997, 0.364815, 0.0, 0.0, 0.0], dtype=object),
 array(['ElephantGlue', 'ElephantGlue', nan, 0, 1, 1, 0, 2, 2, 6, 0.3,
        0.34444400000000003, 0.0, 0.0, 0.0], dtype=object),
 array(['je61', 'je61', nan, 0, 1, 1, 0, 2, 2, 1, 1.0, 1.0, 0.0, 0.0, 0.0],
       dtype=object),
 array(['je61', 'je61', nan, 0, 1, 1, 0, 1, 1, 2, 0.666667, 0.75, 0.0, 0.0,
        0.0], dtype=object),
 array(['sebikun', 'sebikun', nan, 0, 5, 5, 0, 6, 6, 2, 0.777778, 0.857143,
        0.0, 0.0, 0.0], dtype=object),
 array(['sebikun', 'sebikun', nan, 0, 2, 2, 0, 4, 4, 2, 0.75, 0.833333,
        0.0, 0.0, 0.0], dtype=object),
 array(['IrieMars', 'IrieMars', nan, 0, 3, 3, 0, 4, 4, 1, 1.0, 1.0, 0.0,
        0.0, 0.0], dtype=object),
 array(['IrieMars', 'IrieMars', nan, 0, 2, 2, 0, 2, 2, 2, 0.666667, 0.75,
        0.0, 0.0, 0.0], dtype=object),
 array(['StefanStandUp', 'StefanStandUp', nan, 0, 3, 3, 0, 4, 4, 2,
        0.714286, 0.8, 0.0, 0.0, 0.0], dtype=object),
 array(['StefanStandUp', 'StefanStandUp', nan, 0, 2, 2, 0, 2, 2, 3, 0.46,
        0.5, 0.0, 0.0, 0.0], dtype=object),
 array(['Jumpy-Locksmith6812', 'Jumpy-Locksmith6812', nan, 0, 1, 1, 0, 2,
        2, 2, 0.666667, 0.75, 0.0, 0.0, 0.0], dtype=object),
 array(['Jumpy-Locksmith6812', 'Jumpy-Locksmith6812', nan, 0, 1, 1, 0, 1,
        1, 2, 0.666667, 0.75, 0.0, 0.0, 0.0], dtype=object),
 array(['JustJizzed', 'JustJizzed', nan, 0, 2, 2, 0, 3, 3, 1, 1.0, 1.0,
        0.0, 0.0, 0.0], dtype=object),
 array(['JustJizzed', 'JustJizzed', nan, 0, 1, 1, 0, 2, 2, 2, 0.666667,
        0.75, 0.0, 0.0, 0.0], dtype=object),
 array(['JazzyJayKarr', 'JazzyJayKarr', nan, 0, 10, 10, 0, 11, 11, 2,
        0.857143, 0.916667, 0.0, 0.0, 0.0], dtype=object),
 array(['JazzyJayKarr', 'JazzyJayKarr', nan, 0, 2, 2, 0, 2, 2, 3, 0.545455,
        0.638889, 0.0, 0.0, 0.0], dtype=object),
 array(['SteroidMan', 'SteroidMan', nan, 0, 1, 1, 0, 2, 2, 1, 1.0, 1.0,
        0.0, 0.0, 0.0], dtype=object),
 array(['SteroidMan', 'SteroidMan', nan, 0, 2, 2, 0, 2, 2, 3, 0.571429,
        0.708333, 0.0, 0.0, 0.0], dtype=object),
 array(['Girafferage', 'Girafferage', nan, 0, 3, 3, 0, 4, 4, 2, 0.8, 0.875,
        0.0, 0.0, 0.0], dtype=object),
 array(['Girafferage', 'Girafferage', nan, 0, 2, 2, 0, 5, 5, 1, 1.0, 1.0,
        0.0, 0.0, 0.0], dtype=object),
 array(['ScratchC', 'ScratchC', nan, 0, 1, 1, 0, 2, 2, 2, 0.666667, 0.75,
        0.0, 0.0, 0.0], dtype=object),
 array(['ScratchC', 'ScratchC', nan, 0, 1, 1, 0, 1, 1, 5, 0.404762,
        0.45784300000000006, 0.0, 0.0, 0.0], dtype=object),
 array(['mycherryamore', 'mycherryamore', nan, 0, 1, 1, 0, 2, 2, 2,
        0.666667, 0.75, 0.0, 0.0, 0.0], dtype=object),
 array(['mycherryamore', 'mycherryamore', nan, 0, 1, 1, 0, 1, 1, 1, 1.0,
        1.0, 0.0, 0.0, 0.0], dtype=object),
 array(['Lynxartcollection', 'Lynxartcollection', nan, 4, 3, 7, 5, 4, 9, 1,
        1.0, 1.0, 10.0, 0.047619, 0.007647], dtype=object),
 array(['Lynxartcollection', 'Lynxartcollection', nan, 1, 0, 1, 1, 0, 1, 0,
        0.0, 0.0, 0.0, 0.002559, 0.0], dtype=object),
 array(['ghostedagainlol', 'ghostedagainlol', nan, 0, 9, 9, 0, 11, 11, 2,
        0.8461540000000001, 0.909091, 0.0, 0.013888999999999999, 0.0],
       dtype=object),
 array(['ghostedagainlol', 'ghostedagainlol', nan, 0, 3, 3, 0, 3, 3, 5,
        0.434783, 0.514167, 0.0, 0.0, 0.0], dtype=object),
 array(['Dxt2590', 'Dxt2590', nan, 0, 1, 1, 0, 2, 2, 1, 1.0, 1.0, 0.0, 0.0,
        0.0], dtype=object),
 array(['Dxt2590', 'Dxt2590', nan, 0, 1, 1, 0, 1, 1, 1, 1.0, 1.0, 0.0, 0.0,
        0.0], dtype=object),
 array(['NimbleBodhi', 'NimbleBodhi', nan, 0, 4, 4, 0, 7, 7, 1, 1.0, 1.0,
        0.0, 0.0, 0.0], dtype=object),
 array(['NimbleBodhi', 'NimbleBodhi', nan, 0, 1, 1, 0, 1, 1, 1, 1.0, 1.0,
        0.0, 0.0, 0.0], dtype=object),
 array(['typhoon90', 'typhoon90', nan, 0, 2, 2, 0, 3, 3, 1, 1.0, 1.0, 0.0,
        0.0, 0.0], dtype=object),
 array(['typhoon90', 'typhoon90', nan, 4, 0, 4, 4, 0, 4, 0, 0.0, 0.0, 0.0,
        0.010234, 0.0], dtype=object),
 array(['PresJohnTyler', 'PresJohnTyler', nan, 0, 1, 1, 0, 2, 2, 1, 1.0,
        1.0, 0.0, 0.0, 0.0], dtype=object),
 array(['PresJohnTyler', 'PresJohnTyler', nan, 0, 1, 1, 0, 1, 1, 1, 1.0,
        1.0, 0.0, 0.0, 0.0], dtype=object),
 array(['kdoughboy12', 'kdoughboy12', nan, 0, 3, 3, 0, 4, 4, 1, 1.0, 1.0,
        0.0, 0.0, 0.0], dtype=object),
 array(['kdoughboy12', 'kdoughboy12', nan, 0, 1, 1, 0, 3, 3, 3, 0.5,
        0.611111, 0.0, 0.0, 0.0], dtype=object),
 array(['Btcyoda', 'Btcyoda', nan, 0, 10, 10, 0, 13, 13, 2, 0.916667,
        0.9545450000000001, 0.0, 0.011111, 0.0], dtype=object),
 array(['Btcyoda', 'Btcyoda', nan, 0, 1, 1, 0, 1, 1, 1, 1.0, 1.0, 0.0, 0.0,
        0.0], dtype=object),
 array(['loewelion', 'loewelion', nan, 0, 5, 5, 0, 6, 6, 3, 0.5, 0.651515,
        0.0, 0.0, 0.0], dtype=object),
 array(['loewelion', 'loewelion', nan, 0, 1, 1, 0, 1, 1, 1, 1.0, 1.0, 0.0,
        0.0, 0.0], dtype=object),
 array(['lephleg', 'lephleg', nan, 0, 1, 1, 0, 2, 2, 1, 1.0, 1.0, 0.0, 0.0,
        0.0], dtype=object),
 array(['lephleg', 'lephleg', nan, 0, 1, 1, 0, 1, 1, 2, 0.666667, 0.75,
        0.0, 0.0, 0.0], dtype=object),
 array(['bittabet', 'bittabet', nan, 0, 4, 4, 0, 5, 5, 1, 1.0, 1.0, 0.0,
        0.0, 0.0], dtype=object),
 array(['bittabet', 'bittabet', nan, 0, 3, 3, 0, 3, 3, 1, 1.0, 1.0, 0.0,
        0.0, 0.0], dtype=object),
 array(['cashout2022', 'cashout2022', nan, 0, 1, 1, 0, 2, 2, 1, 1.0, 1.0,
        0.0, 0.0, 0.0], dtype=object),
 array(['cashout2022', 'cashout2022', nan, 0, 1, 1, 0, 1, 1, 1, 1.0, 1.0,
        0.0, 0.0, 0.0], dtype=object),
 array(['xRaaRaa', 'xRaaRaa', nan, 0, 2, 2, 0, 3, 3, 2, 0.75, 0.833333,
        0.0, 0.0, 0.0], dtype=object),
 array(['xRaaRaa', 'xRaaRaa', nan, 0, 2, 2, 0, 2, 2, 1, 1.0, 1.0, 0.0, 0.0,
        0.0], dtype=object),
 array(['legend717', 'legend717', nan, 0, 2, 2, 0, 4, 4, 1, 1.0, 1.0, 0.0,
        0.5, 0.0], dtype=object),
 array(['legend717', 'legend717', nan, 0, 1, 1, 0, 5, 5, 1, 1.0, 1.0, 0.0,
        0.0, 0.0], dtype=object),
 array(['Ahrideva', 'Ahrideva', nan, 0, 1, 1, 0, 2, 2, 1, 1.0, 1.0, 0.0,
        0.0, 0.0], dtype=object),
 array(['Ahrideva', 'Ahrideva', nan, 0, 1, 1, 0, 3, 3, 2, 0.666667, 0.75,
        0.0, 0.0, 0.0], dtype=object),
 array(['squidjibo1', 'squidjibo1', nan, 0, 2, 2, 0, 3, 3, 2, 0.583333,
        0.642857, 0.0, 0.0, 0.0], dtype=object),
 array(['squidjibo1', 'squidjibo1', nan, 0, 3, 3, 0, 6, 6, 3, 0.583333,
        0.690476, 0.0, 0.0, 0.0], dtype=object),
 array(['ecky--ptang-zooboing', 'ecky--ptang-zooboing', nan, 0, 1, 1, 0, 2,
        2, 1, 1.0, 1.0, 0.0, 0.0, 0.0], dtype=object),
 array(['ecky--ptang-zooboing', 'ecky--ptang-zooboing', nan, 0, 1, 1, 0, 1,
        1, 1, 1.0, 1.0, 0.0, 0.0, 0.0], dtype=object),
 array(['ebliever', 'ebliever', nan, 0, 1, 1, 0, 2, 2, 1, 1.0, 1.0, 0.0,
        0.0, 0.0], dtype=object),
 array(['ebliever', 'ebliever', nan, 0, 1, 1, 0, 1, 1, 5, 0.347826,
        0.43125, 0.0, 0.0, 0.0], dtype=object),
 array(['Conflixx', 'Conflixx', nan, 0, 3, 3, 0, 4, 4, 1, 1.0, 1.0, 0.0,
        0.0, 0.0], dtype=object),
 array(['Conflixx', 'Conflixx', nan, 0, 2, 2, 0, 2, 2, 3, 0.571429,
        0.708333, 0.0, 0.0, 0.0], dtype=object),
 array(['masixx', 'masixx', nan, 0, 1, 1, 0, 2, 2, 1, 1.0, 1.0, 0.0, 0.0,
        0.0], dtype=object),
 array(['masixx', 'masixx', nan, 0, 1, 1, 0, 1, 1, 1, 1.0, 1.0, 0.0, 0.0,
        0.0], dtype=object),
 array(['ebaley', 'ebaley', nan, 0, 3, 3, 0, 4, 4, 2, 0.714286, 0.8, 0.0,
        0.0, 0.0], dtype=object),
 array(['ebaley', 'ebaley', nan, 0, 8, 8, 0, 24, 24, 4,
        0.47727299999999995, 0.615079, 0.0, 0.0, 0.017856999999999998],
       dtype=object),
 array(['succulentgoose', 'succulentgoose', nan, 0, 2, 2, 0, 3, 3, 6,
        0.300613, 0.346599, 0.0, 0.0, 0.0], dtype=object),
 array(['succulentgoose', 'succulentgoose', nan, 0, 1, 1, 0, 1, 1, 2,
        0.666667, 0.75, 0.0, 0.0, 0.0], dtype=object),
 array(['Drunkn_Cricket', 'Drunkn_Cricket', nan, 0, 2, 2, 0, 3, 3, 2,
        0.666667, 0.75, 0.0, 0.0, 0.0], dtype=object),
 array(['Drunkn_Cricket', 'Drunkn_Cricket', nan, 0, 7, 7, 0, 11, 11, 1,
        1.0, 1.0, 0.0, 0.0, 0.0], dtype=object),
 array(['Zombie4141', 'Zombie4141', nan, 0, 6, 6, 0, 7, 7, 5,
        0.37804899999999997, 0.476882, 0.0, 0.0, 0.0], dtype=object),
 array(['Zombie4141', 'Zombie4141', nan, 0, 1, 1, 0, 3, 3, 3, 0.5,
        0.611111, 0.0, 0.0, 0.0], dtype=object),
 array(['Chaff5', 'Chaff5', nan, 0, 3, 3, 0, 5, 5, 1, 1.0, 1.0, 0.0, 0.0,
        0.0], dtype=object),
 array(['Chaff5', 'Chaff5', nan, 0, 1, 1, 0, 1, 1, 2, 0.666667, 0.75, 0.0,
        0.0, 0.0], dtype=object),
 array(['iambabyjesus90', 'iambabyjesus90', nan, 0, 1, 1, 0, 1, 1, 1, 1.0,
        1.0, 0.0, 0.0, 0.0], dtype=object),
 array(['iambabyjesus90', 'iambabyjesus90', nan, 0, 1, 1, 0, 1, 1, 3, 0.5,
        0.611111, 0.0, 0.0, 0.0], dtype=object),
 array(['jgarcya', 'jgarcya', nan, 0, 1, 1, 0, 1, 1, 1, 1.0, 1.0, 0.0, 0.0,
        0.0], dtype=object),
 array(['jgarcya', 'jgarcya', nan, 0, 4, 4, 0, 4, 4, 2, 0.75, 0.833333,
        0.0, 0.0, 0.0], dtype=object),
 array(['Workerhard62', 'Workerhard62', nan, 5, 0, 5, 5, 0, 5, 0, 0.0, 0.0,
        0.0, 0.0, 0.009559], dtype=object),
 array(['Workerhard62', 'Workerhard62', nan, 0, 1, 1, 0, 3, 3, 1, 1.0, 1.0,
        0.0, 0.0, 0.0], dtype=object),
 array(['irresponsible_owl', 'irresponsible_owl', nan, 0, 2, 2, 0, 2, 2, 1,
        1.0, 1.0, 0.0, 0.0, 0.0], dtype=object),
 array(['irresponsible_owl', 'irresponsible_owl', nan, 0, 1, 1, 0, 1, 1, 1,
        1.0, 1.0, 0.0, 0.0, 0.0], dtype=object),
 array(['juanxin01', 'juanxin01', nan, 0, 1, 1, 0, 1, 1, 1, 1.0, 1.0, 0.0,
        0.0, 0.0], dtype=object),
 array(['juanxin01', 'juanxin01', nan, 0, 1, 1, 0, 1, 1, 3, 0.5, 0.611111,
        0.0, 0.0, 0.0], dtype=object),
 array(['kalashnikovkitty9420', 'kalashnikovkitty9420', nan, 0, 4, 4, 0, 4,
        4, 1, 1.0, 1.0, 0.0, 0.0, 0.0], dtype=object),
 array(['kalashnikovkitty9420', 'kalashnikovkitty9420', nan, 0, 1, 1, 0, 1,
        1, 1, 1.0, 1.0, 0.0, 0.0, 0.0], dtype=object),
 array(['brianddk', 'brianddk', nan, 5, 0, 5, 5, 0, 5, 0, 0.0, 0.0, 0.0,
        0.0, 0.016481], dtype=object),
 array(['brianddk', 'brianddk', nan, 0, 2, 2, 0, 3, 3, 3, 0.571429,
        0.708333, 0.0, 0.0, 0.0], dtype=object),
 array(['jonesocnosis', 'jonesocnosis', nan, 0, 1, 1, 0, 1, 1, 1, 1.0, 1.0,
        0.0, 0.0, 0.0], dtype=object),
 array(['jonesocnosis', 'jonesocnosis', nan, 0, 1, 1, 0, 1, 1, 5, 0.333333,

In [ ]:
# dataframe showing stats for users that appear in bitcoin and crypto repsectively
pd.set_option('display.max_rows', 1000)
df_btc_cryp = pd.DataFrame(btc_cryp_pd, columns=list(bitcoin.columns))
df_btc_cryp

                       Id                 Label  ...  clustering  eigencentrality
0                fixbikes              fixbikes  ...    0.000000         0.000000
1                fixbikes              fixbikes  ...    0.000000         0.000000
2               thescheit             thescheit  ...    0.000000         0.000000
3               thescheit             thescheit  ...    0.000000         0.000000
4                 SaneLad               SaneLad  ...    0.000000         0.000000
5                 SaneLad               SaneLad  ...    0.000000         0.000000
6                  drhodl                drhodl  ...    0.000000         0.000000
7                  drhodl                drhodl  ...    0.000000         0.000000
8               MoneroWTF             MoneroWTF  ...    0.027778         0.000000
9               MoneroWTF             MoneroWTF  ...    0.000000         0.000000
10             FINDTHESUN            FINDTHESUN  ...    0.066667         0.009559
11             FINDTHESUN            FINDTHESUN  ...    0.007676         0.000000
12     pingpongplaya69420    pingpongplaya69420  ...    0.000000         0.000000
13     pingpongplaya69420    pingpongplaya69420  ...    0.000000         0.000000
14    testiclespectacles2   testiclespectacles2  ...    0.038462         0.012658
15    testiclespectacles2   testiclespectacles2  ...    0.000000         0.000000
16               npjprods              npjprods  ...    0.010989         0.029969
17               npjprods              npjprods  ...    0.000000         0.000000
18       allovertheplaces      allovertheplaces  ...    0.000000         0.000000
19       allovertheplaces      allovertheplaces  ...    0.000000         0.000000
20               Austomic              Austomic  ...    0.000000         0.011471
21               Austomic              Austomic  ...    0.023027         0.000000
22               rewanpaj              rewanpaj  ...    0.000000         0.013383
23               rewanpaj              rewanpaj  ...    0.000000         0.000000
24            EarningsPal           EarningsPal  ...    0.000000         0.000000
25            EarningsPal           EarningsPal  ...    0.000000         0.000000
26         hominidnumber9        hominidnumber9  ...    0.000000         0.000000
27         hominidnumber9        hominidnumber9  ...    0.000000         0.000000
28     apexisalonelyplace    apexisalonelyplace  ...    0.000000         0.000000
29     apexisalonelyplace    apexisalonelyplace  ...    0.000000         0.000000
30           CoolioMcCool          CoolioMcCool  ...    0.000000         0.000000
31           CoolioMcCool          CoolioMcCool  ...    0.000000         0.000000
32         Bee-Reddit-123        Bee-Reddit-123  ...    0.000000         0.000000
33         Bee-Reddit-123        Bee-Reddit-123  ...    0.000000         0.000000
34               nappiral              nappiral  ...    0.017857         0.000000
35               nappiral              nappiral  ...    0.000000         0.000000
36             tigger1105            tigger1105  ...    0.000000         0.000000
37             tigger1105            tigger1105  ...    0.000000         0.000000
38              teniceguy             teniceguy  ...    0.000000         0.000000
39              teniceguy             teniceguy  ...    0.000000         0.000000
40          MuteUSOCrypto         MuteUSOCrypto  ...    0.000000         0.000000
41          MuteUSOCrypto         MuteUSOCrypto  ...    0.000000         0.000000
42    minimally__invasive   minimally__invasive  ...    0.062092         0.032701
43    minimally__invasive   minimally__invasive  ...    0.007374         0.000000
44              khaotickk             khaotickk  ...    0.000000         0.000000
45              khaotickk             khaotickk  ...    0.000000         0.000000
46                Nossa30               Nossa30  ...    0.026738         0.044785
47                Nossa30               Nossa30  ...    0.000000         0.000000
48        WarrenMuppet007       WarrenMuppet007  ...    0.000000         0.000000
49        WarrenMuppet007       WarrenMuppet007  ...    0.000000         0.000000
50     Truffle_Shuffle_85    Truffle_Shuffle_85  ...    0.000000         0.000000
51     Truffle_Shuffle_85    Truffle_Shuffle_85  ...    0.000000         0.000000
52      whatwhatwhichuser     whatwhatwhichuser  ...    0.008333         0.000000
53      whatwhatwhichuser     whatwhatwhichuser  ...    0.000000         0.000000
54          hopscotchking         hopscotchking  ...    0.000000         0.000000
55          hopscotchking         hopscotchking  ...    0.000000         0.000000
56        Alaska_Engineer       Alaska_Engineer  ...    0.000000         0.000000
57        Alaska_Engineer       Alaska_Engineer  ...    0.000000         0.166667
58            coinsntings           coinsntings  ...    0.000000         0.000000
59            coinsntings           coinsntings  ...    0.000000         0.000000
60         sgtslaughterTV        sgtslaughterTV  ...    0.000000         0.000000
61         sgtslaughterTV        sgtslaughterTV  ...    0.000000         0.000000
62                 NomBok                NomBok  ...    0.000000         0.000000
63                 NomBok                NomBok  ...    0.000000         0.000000
64              coinsfera             coinsfera  ...    0.000000         0.033272
65              coinsfera             coinsfera  ...    0.000000         0.000000
66            Letitride37           Letitride37  ...    0.166667         0.000000
67            Letitride37           Letitride37  ...    0.000000         0.000000
68                RFV1985               RFV1985  ...    0.000000         0.000000
69                RFV1985               RFV1985  ...    0.000000         0.000000
70              shmoculus             shmoculus  ...    0.000000         0.000000
71              shmoculus             shmoculus  ...    0.000000         0.000000
72          The_furricane         The_furricane  ...    0.000000         0.000000
73          The_furricane         The_furricane  ...    0.000000         0.000000
74          RogerWilco357         RogerWilco357  ...    0.000000         0.000000
75          RogerWilco357         RogerWilco357  ...    0.000000         0.000000
76           ElephantGlue          ElephantGlue  ...    0.000000         0.000000
77           ElephantGlue          ElephantGlue  ...    0.000000         0.000000
78                   je61                  je61  ...    0.000000         0.000000
79                   je61                  je61  ...    0.000000         0.000000
80                sebikun               sebikun  ...    0.000000         0.000000
81                sebikun               sebikun  ...    0.000000         0.000000
82               IrieMars              IrieMars  ...    0.000000         0.000000
83               IrieMars              IrieMars  ...    0.000000         0.000000
84          StefanStandUp         StefanStandUp  ...    0.000000         0.000000
85          StefanStandUp         StefanStandUp  ...    0.000000         0.000000
86    Jumpy-Locksmith6812   Jumpy-Locksmith6812  ...    0.000000         0.000000
87    Jumpy-Locksmith6812   Jumpy-Locksmith6812  ...    0.000000         0.000000
88             JustJizzed            JustJizzed  ...    0.000000         0.000000
89             JustJizzed            JustJizzed  ...    0.000000         0.000000
90           JazzyJayKarr          JazzyJayKarr  ...    0.000000         0.000000
91           JazzyJayKarr          JazzyJayKarr  ...    0.000000         0.000000
92             SteroidMan            SteroidMan  ...    0.000000         0.000000
93             SteroidMan            SteroidMan  ...    0.000000         0.000000
94            Girafferage           Girafferage  ...    0.000000         0.000000
95            Girafferage           Girafferage  ...    0.000000         0.000000
96               ScratchC              ScratchC  ...    0.000000         0.000000
97               ScratchC              ScratchC  ...    0.000000         0.000000
98          mycherryamore         mycherryamore  ...    0.000000         0.000000
99          mycherryamore         mycherryamore  ...    0.000000         0.000000
100     Lynxartcollection     Lynxartcollection  ...    0.047619         0.007647
101     Lynxartcollection     Lynxartcollection  ...    0.002559         0.000000
102       ghostedagainlol       ghostedagainlol  ...    0.013889         0.000000
103       ghostedagainlol       ghostedagainlol  ...    0.000000         0.000000
104               Dxt2590               Dxt2590  ...    0.000000         0.000000
105               Dxt2590               Dxt2590  ...    0.000000         0.000000
106           NimbleBodhi           NimbleBodhi  ...    0.000000         0.000000
107           NimbleBodhi           NimbleBodhi  ...    0.000000         0.000000
108             typhoon90             typhoon90  ...    0.000000         0.000000
109             typhoon90             typhoon90  ...    0.010234         0.000000
110         PresJohnTyler         PresJohnTyler  ...    0.000000         0.000000
111         PresJohnTyler         PresJohnTyler  ...    0.000000         0.000000
112           kdoughboy12           kdoughboy12  ...    0.000000         0.000000
113           kdoughboy12           kdoughboy12  ...    0.000000         0.000000
114               Btcyoda               Btcyoda  ...    0.011111         0.000000
115               Btcyoda               Btcyoda  ...    0.000000         0.000000
116             loewelion             loewelion  ...    0.000000         0.000000
117             loewelion             loewelion  ...    0.000000         0.000000
118               lephleg               lephleg  ...    0.000000         0.000000
119               lephleg               lephleg  ...    0.000000         0.000000
120              bittabet              bittabet  ...    0.000000         0.000000
121              bittabet              bittabet  ...    0.000000         0.000000
122           cashout2022           cashout2022  ...    0.000000         0.000000
123           cashout2022           cashout2022  ...    0.000000         0.000000
124               xRaaRaa               xRaaRaa  ...    0.000000         0.000000
125               xRaaRaa               xRaaRaa  ...    0.000000         0.000000
126             legend717             legend717  ...    0.500000         0.000000
127             legend717             legend717  ...    0.000000         0.000000
128              Ahrideva              Ahrideva  ...    0.000000         0.000000
129              Ahrideva              Ahrideva  ...    0.000000         0.000000
130            squidjibo1            squidjibo1  ...    0.000000         0.000000
131            squidjibo1            squidjibo1  ...    0.000000         0.000000
132  ecky--ptang-zooboing  ecky--ptang-zooboing  ...    0.000000         0.000000
133  ecky--ptang-zooboing  ecky--ptang-zooboing  ...    0.000000         0.000000
134              ebliever              ebliever  ...    0.000000         0.000000
135              ebliever              ebliever  ...    0.000000         0.000000
136              Conflixx              Conflixx  ...    0.000000         0.000000
137              Conflixx              Conflixx  ...    0.000000         0.000000
138                masixx                masixx  ...    0.000000         0.000000
139                masixx                masixx  ...    0.000000         0.000000
140                ebaley                ebaley  ...    0.000000         0.000000
141                ebaley                ebaley  ...    0.000000         0.017857
142        succulentgoose        succulentgoose  ...    0.000000         0.000000
143        succulentgoose        succulentgoose  ...    0.000000         0.000000
144        Drunkn_Cricket        Drunkn_Cricket  ...    0.000000         0.000000
145        Drunkn_Cricket        Drunkn_Cricket  ...    0.000000         0.000000
146            Zombie4141            Zombie4141  ...    0.000000         0.000000
147            Zombie4141            Zombie4141  ...    0.000000         0.000000
148                Chaff5                Chaff5  ...    0.000000         0.000000
149                Chaff5                Chaff5  ...    0.000000         0.000000
150        iambabyjesus90        iambabyjesus90  ...    0.000000         0.000000
151        iambabyjesus90        iambabyjesus90  ...    0.000000         0.000000
152               jgarcya               jgarcya  ...    0.000000         0.000000
153               jgarcya               jgarcya  ...    0.000000         0.000000
154          Workerhard62          Workerhard62  ...    0.000000         0.009559
155          Workerhard62          Workerhard62  ...    0.000000         0.000000
156     irresponsible_owl     irresponsible_owl  ...    0.000000         0.000000
157     irresponsible_owl     irresponsible_owl  ...    0.000000         0.000000
158             juanxin01             juanxin01  ...    0.000000         0.000000
159             juanxin01             juanxin01  ...    0.000000         0.000000
160  kalashnikovkitty9420  kalashnikovkitty9420  ...    0.000000         0.000000
161  kalashnikovkitty9420  kalashnikovkitty9420  ...    0.000000         0.000000
162              brianddk              brianddk  ...    0.000000         0.016481
163              brianddk              brianddk  ...    0.000000         0.000000
164          jonesocnosis          jonesocnosis  ...    0.000000         0.000000
165          jonesocnosis          jonesocnosis  ...    0.000000         0.000000
166           cryptolipto           cryptolipto  ...    0.000000         0.000000
167           cryptolipto           cryptolipto  ...    0.000000         0.000000
168         cryptonewb007         cryptonewb007  ...    0.000000         0.000000
169         cryptonewb007         cryptonewb007  ...    0.000000         0.000000
170           desi7777777           desi7777777  ...    0.000000         0.000000
171           desi7777777           desi7777777  ...    0.000000         0.000000
172            distorter1            distorter1  ...    0.000000         0.000000
173            distorter1            distorter1  ...    0.000000         0.000000
174               diego-d               diego-d  ...    0.000000         0.000000
175               diego-d               diego-d  ...    0.000000         0.000000
176           diimebag666           diimebag666  ...    0.000000         0.000000
177           diimebag666           diimebag666  ...    0.000000         0.000000
178              caeseron              caeseron  ...    0.000000         0.000000
179              caeseron              caeseron  ...    0.000000         0.000000
180             buster2Xk             buster2Xk  ...    0.000000         0.000000
181             buster2Xk             buster2Xk  ...    0.000000         0.000000
182            commo64dor            commo64dor  ...    0.000000         0.000000
183            commo64dor            commo64dor  ...    0.000000         0.000000
184            cryptening            cryptening  ...    0.000000         0.000000
185            cryptening            cryptening  ...    0.000000         0.000000
186         coinfeeds-bot         coinfeeds-bot  ...    0.000000         0.000000
187         coinfeeds-bot         coinfeeds-bot  ...    0.000000         0.004762
188                 e3ee3                 e3ee3  ...    0.000000         0.000000
189                 e3ee3                 e3ee3  ...    0.000000         0.000000
190             girlshero             girlshero  ...    0.000000         0.000000
191             girlshero             girlshero  ...    0.000000         0.000000
192             groodscom             groodscom  ...    0.000000         0.000000
193             groodscom             groodscom  ...    0.000000         0.000000
194             hai1sag4n             hai1sag4n  ...    0.000000         0.000000
195             hai1sag4n             hai1sag4n  ...    0.000000         0.000000
196      hank_scorpio_ceo      hank_scorpio_ceo  ...    0.000000         0.000000
197      hank_scorpio_ceo      hank_scorpio_ceo  ...    0.000000         0.000000
198        frigginballhog        frigginballhog  ...    0.000000         0.000000
199        frigginballhog        frigginballhog  ...    0.000000         0.000000
200          ehh_what_evs          ehh_what_evs  ...    0.000000         0.000000
201          ehh_what_evs          ehh_what_evs  ...    0.000000         0.000000
202               eici123               eici123  ...    0.000000         0.000000
203               eici123               eici123  ...    0.000000         0.000000
204          elementofpee          elementofpee  ...    0.000000         0.000000
205          elementofpee          elementofpee  ...    0.000000         0.000000
206           eleven8ster           eleven8ster  ...    0.000000         0.000000
207           eleven8ster           eleven8ster  ...    0.000000         0.000000
208        fester__addams        fester__addams  ...    0.000000         0.000000
209        fester__addams        fester__addams  ...    0.000000         0.000000
210         fitness_first         fitness_first  ...    0.000000         0.000000
211         fitness_first         fitness_first  ...    0.000000         0.000000
212           kraken-sana           kraken-sana  ...    0.095238         0.000000
213           kraken-sana           kraken-sana  ...    0.000000         0.000000
214       summertime_taco       summertime_taco  ...    0.000000         0.000000
215       summertime_taco       summertime_taco  ...    0.000000         0.000000
216                sylsau                sylsau  ...    0.000000         0.000000
217                sylsau                sylsau  ...    0.000000         0.000000
218             speedy655             speedy655  ...    0.000000         0.000000
219             speedy655             speedy655  ...    0.000000         0.000000
220           springbokfb           springbokfb  ...    0.000000         0.000000
221           springbokfb           springbokfb  ...    0.000000         0.000000
222            tariksalay            tariksalay  ...    0.000000         0.000000
223            tariksalay            tariksalay  ...    0.000000         0.000000
224          thatguykeith          thatguykeith  ...    0.000000         0.000000
225          thatguykeith          thatguykeith  ...    0.000000         0.000000
226           shaddowkhan           shaddowkhan  ...    0.000000         0.000000
227           shaddowkhan           shaddowkhan  ...    0.000000         0.000000
228               sneeeks               sneeeks  ...    0.083333         0.000000
229               sneeeks               sneeeks  ...    0.000000         0.000000
230       silverblackgold       silverblackgold  ...    0.000000         0.000000
231       silverblackgold       silverblackgold  ...    0.000000         0.000000
232          shenhaozhang          shenhaozhang  ...    0.000000         0.000000
233          shenhaozhang          shenhaozhang  ...    0.000000         0.000000
234           sickvisionz           sickvisionz  ...    0.000000         0.000000
235           sickvisionz           sickvisionz  ...    0.000000         0.166667
236                 wfw12                 wfw12  ...    0.000000         0.000000
237                 wfw12                 wfw12  ...    0.000000         0.000000
238              wisdummm              wisdummm  ...    0.000000         0.000000
239              wisdummm              wisdummm  ...    0.000000         0.000000
240                 xav--                 xav--  ...    0.000000         0.000000
241                 xav--                 xav--  ...    0.000000         0.000000

#BTC - WSB Overlap

In [ ]:
btc_wsb = []

for i in bitcoin["Id"]:
  for j in wsb["Id"]:
    if i in j:
      btc_wsb.append(bitcoin[bitcoin["Id"]==i].values[0])
      btc_wsb.append(wsb[wsb["Id"]==j].values[0][:15])

btc_wsb

[array(['Seeders', 'Seeders', nan, 0, 2, 2, 0, 7, 7, 2, 0.75, 0.833333,
        0.0, 0.0, 0.0], dtype=object),
 array(['Seeders', 'Seeders', nan, 0, 1, 1, 0, 2, 2, 1, 1.0, 1.0, 0.0, 0,
        0], dtype=object),
 array(['yourbrotherrex', 'yourbrotherrex', nan, 0, 5, 5, 0, 9, 9, 4,
        0.44736800000000004, 0.568627, 0.0, 0.0, 0.0], dtype=object),
 array(['yourbrotherrex', 'yourbrotherrex', nan, 0, 1, 1, 0, 2, 2, 1, 1.0,
        1.0, 0.0, 5, 0], dtype=object),
 array(['rewanpaj', 'rewanpaj', nan, 7, 1, 8, 17, 1, 18, 2, 0.666667, 0.75,
        11.5, 0.0, 0.013383], dtype=object),
 array(['rewanpaj', 'rewanpaj', nan, 0, 1, 1, 0, 1, 1, 1, 1.0, 1.0, 0.0, 5,
        0], dtype=object),
 array(['graham0025', 'graham0025', nan, 0, 3, 3, 0, 5, 5, 1, 1.0, 1.0,
        0.0, 0.0, 0.0], dtype=object),
 array(['graham0025', 'graham0025', nan, 0, 1, 1, 0, 1, 1, 1, 1.0, 1.0,
        0.0, 1, 0], dtype=object),
 array(['khaotickk', 'khaotickk', nan, 0, 6, 6, 0, 8, 8, 2, 0.75, 0.833333,
        0.0, 0.0, 0.0], dtype=object),
 array(['khaotickk', 'khaotickk', nan, 0, 1, 1, 0, 1, 1, 1, 1.0, 1.0, 0.0,
        5, 0], dtype=object),
 array(['Letitride37', 'Letitride37', nan, 0, 3, 3, 0, 5, 5, 1, 1.0, 1.0,
        0.0, 0.166667, 0.0], dtype=object),
 array(['Letitride37', 'Letitride37', nan, 0, 1, 1, 0, 1, 1, 1, 1.0, 1.0,
        0.0, 5, 0], dtype=object),
 array(['StefanStandUp', 'StefanStandUp', nan, 0, 3, 3, 0, 4, 4, 2,
        0.714286, 0.8, 0.0, 0.0, 0.0], dtype=object),
 array(['StefanStandUp', 'StefanStandUp', nan, 0, 1, 1, 0, 1, 1, 1, 1.0,
        1.0, 0.0, 4, 0], dtype=object),
 array(['hivemind999', 'hivemind999', nan, 0, 1, 1, 0, 2, 2, 1, 1.0, 1.0,
        0.0, 0.0, 0.0], dtype=object),
 array(['hivemind999', 'hivemind999', nan, 0, 3, 3, 0, 3, 3, 2, 0.8, 0.875,
        0.0, 17, 0], dtype=object),
 array(['NonGNonM', 'NonGNonM', nan, 0, 1, 1, 0, 2, 2, 1, 1.0, 1.0, 0.0,
        0.0, 0.0], dtype=object),
 array(['NonGNonM', 'NonGNonM', nan, 0, 2, 2, 0, 27, 27, 1, 1.0, 1.0, 0.0,
        0, 0], dtype=object),
 array(['atreides4242', 'atreides4242', nan, 0, 3, 3, 0, 4, 4, 6,
        0.30538899999999997, 0.35915, 0.0, 0.0, 0.0], dtype=object),
 array(['atreides4242', 'atreides4242', nan, 0, 3, 3, 0, 3, 3, 2, 0.8,
        0.875, 0.0, 10, 0], dtype=object),
 array(['DillonSyp', 'DillonSyp', nan, 0, 3, 3, 0, 4, 4, 1, 1.0, 1.0, 0.0,
        0.0, 0.0], dtype=object),
 array(['DillonSyp', 'DillonSyp', nan, 0, 8, 8, 0, 11, 11, 3, 0.733333,
        0.848485, 0.0, 4, 0], dtype=object),
 array(['Drunkn_Cricket', 'Drunkn_Cricket', nan, 0, 2, 2, 0, 3, 3, 2,
        0.666667, 0.75, 0.0, 0.0, 0.0], dtype=object),
 array(['Drunkn_Cricket', 'Drunkn_Cricket', nan, 0, 1, 1, 0, 1, 1, 2, 0.6,
        0.666667, 0.0, 12, 0], dtype=object),
 array(['MoundSamurai19', 'MoundSamurai19', nan, 0, 1, 1, 0, 2, 2, 1, 1.0,
        1.0, 0.0, 0.0, 0.0], dtype=object),
 array(['MoundSamurai19', 'MoundSamurai19', nan, 0, 1, 1, 0, 1, 1, 1, 1.0,
        1.0, 0.0, 6, 0], dtype=object),
 array(['idster', 'idster', nan, 0, 1, 1, 0, 1, 1, 1, 1.0, 1.0, 0.0, 0.0,
        0.0], dtype=object),
 array(['-Squidster-', '-Squidster-', nan, 0, 10, 10, 0, 13, 13, 2, 0.8125,
        0.8846149999999999, 0.0, 13, 0], dtype=object),
 array(['kkB1airs', 'kkB1airs', nan, 0, 1, 1, 0, 1, 1, 1, 1.0, 1.0, 0.0,
        0.0, 0.0], dtype=object),
 array(['kkB1airs', 'kkB1airs', nan, 0, 1, 1, 0, 1, 1, 1, 1.0, 1.0, 0.0,
        10, 0], dtype=object),
 array(['jayeballz', 'jayeballz', nan, 0, 1, 1, 0, 1, 1, 1, 1.0, 1.0, 0.0,
        0.0, 0.0], dtype=object),
 array(['jayeballz', 'jayeballz', nan, 0, 1, 1, 0, 1, 1, 3, 0.5, 0.583333,
        0.0, 10, 0], dtype=object),
 array(['jharedtroll23', 'jharedtroll23', nan, 0, 3, 3, 0, 3, 3, 6,
        0.308642, 0.364667, 0.0, 0.0, 0.0], dtype=object),
 array(['jharedtroll23', 'jharedtroll23', nan, 0, 2, 2, 0, 3, 3, 2, 0.75,
        0.833333, 0.0, 4, 0], dtype=object),
 array(['jwonz_', 'jwonz_', nan, 0, 1, 1, 0, 1, 1, 1, 1.0, 1.0, 0.0, 0.0,
        0.0], dtype=object),
 array(['jwonz_', 'jwonz_', nan, 0, 5, 5, 0, 10, 10, 1, 1.0, 1.0, 0.0, 4,
        0], dtype=object),
 array(['jason8585', 'jason8585', nan, 0, 1, 1, 0, 1, 1, 2, 0.6, 0.666667,
        0.0, 0.0, 0.0], dtype=object),
 array(['jason8585', 'jason8585', nan, 0, 1, 1, 0, 1, 1, 1, 1.0, 1.0, 0.0,
        10, 0], dtype=object),
 array(['image_linker_bot', 'image_linker_bot', nan, 0, 1, 1, 0, 1, 1, 1,
        1.0, 1.0, 0.0, 0.0, 0.0], dtype=object),
 array(['image_linker_bot', 'image_linker_bot', nan, 0, 1, 1, 0, 1, 1, 1,
        1.0, 1.0, 0.0, 4, 0], dtype=object),
 array(['kdogz69', 'kdogz69', nan, 0, 2, 2, 0, 2, 2, 1, 1.0, 1.0, 0.0, 0.0,
        0.0], dtype=object),
 array(['kdogz69', 'kdogz69', nan, 0, 1, 1, 0, 1, 1, 1, 1.0, 1.0, 0.0, 14,
        2], dtype=object),
 array(['d1g1tal', 'd1g1tal', nan, 0, 1, 1, 0, 1, 1, 1, 1.0, 1.0, 0.0, 0.0,
        0.0], dtype=object),
 array(['d1g1tal', 'd1g1tal', nan, 0, 1, 1, 0, 1, 1, 1, 1.0, 1.0, 0.0, 12,
        0], dtype=object),
 array(['domingolin', 'domingolin', nan, 0, 1, 1, 0, 1, 1, 2, 0.6,
        0.666667, 0.0, 0.0, 0.0], dtype=object),
 array(['domingolin', 'domingolin', nan, 0, 2, 2, 0, 2, 2, 1, 1.0, 1.0,
        0.0, 8, 0], dtype=object),
 array(['caeseron', 'caeseron', nan, 0, 2, 2, 0, 2, 2, 2, 0.75, 0.833333,
        0.0, 0.0, 0.0], dtype=object),
 array(['caeseron', 'caeseron', nan, 0, 2, 2, 0, 2, 2, 1, 1.0, 1.0, 0.0,
        11, 0], dtype=object),
 array(['commo64dor', 'commo64dor', nan, 0, 1, 1, 0, 1, 1, 1, 1.0, 1.0,
        0.0, 0.0, 0.0], dtype=object),
 array(['commo64dor', 'commo64dor', nan, 0, 1, 1, 0, 1, 1, 1, 1.0, 1.0,
        0.0, 11, 0], dtype=object),
 array(['crossthrows', 'crossthrows', nan, 0, 2, 2, 0, 2, 2, 6, 0.274725,
        0.31233299999999997, 0.0, 0.0, 0.0], dtype=object),
 array(['crossthrows', 'crossthrows', nan, 0, 3, 3, 0, 4, 4, 4, 0.458333,
        0.568182, 0.0, 10, 0], dtype=object),
 array(['eyefrica', 'eyefrica', nan, 0, 1, 1, 0, 1, 1, 1, 1.0, 1.0, 0.0,
        0.0, 0.0], dtype=object),
 array(['eyefrica', 'eyefrica', nan, 0, 2, 2, 0, 2, 2, 1, 1.0, 1.0, 0.0, 3,
        0], dtype=object),
 array(['eddiepaperhands', 'eddiepaperhands', nan, 0, 2, 2, 0, 2, 2, 2,
        0.583333, 0.642857, 0.0, 0.0, 0.0], dtype=object),
 array(['eddiepaperhands', 'eddiepaperhands', nan, 0, 2, 2, 0, 3, 3, 1,
        1.0, 1.0, 0.0, 4, 0], dtype=object),
 array(['superhappy', 'superhappy', nan, 0, 1, 1, 0, 1, 1, 1, 1.0, 1.0,
        0.0, 0.0, 0.0], dtype=object),
 array(['superhappykid', 'superhappykid', nan, 0, 1, 1, 0, 1, 1, 1, 1.0,
        1.0, 0.0, 2, 0], dtype=object),
 array(['telperiontree', 'telperiontree', nan, 0, 1, 1, 0, 1, 1, 2,
        0.666667, 0.75, 0.0, 0.0, 0.0], dtype=object),
 array(['telperiontree', 'telperiontree', nan, 0, 3, 3, 0, 3, 3, 3,
        0.545455, 0.694444, 0.0, 2, 0], dtype=object),
 array(['sassyover123', 'sassyover123', nan, 0, 1, 1, 0, 1, 1, 1, 1.0, 1.0,
        0.0, 0.0, 0.0], dtype=object),
 array(['sassyover123', 'sassyover123', nan, 0, 4, 4, 0, 5, 5, 3, 0.545455,
        0.638889, 0.0, 10, 0], dtype=object),
 array(['xsunpotionx', 'xsunpotionx', nan, 0, 1, 1, 0, 1, 1, 2, 0.666667,
        0.75, 0.0, 0.0, 0.0], dtype=object),
 array(['xsunpotionx', 'xsunpotionx', nan, 0, 3, 3, 0, 3, 3, 1, 1.0, 1.0,
        0.0, 10, 0], dtype=object),
 array(['yacnamron', 'yacnamron', nan, 0, 1, 1, 0, 1, 1, 2, 0.666667, 0.75,
        0.0, 0.0, 0.0], dtype=object),
 array(['yacnamron', 'yacnamron', nan, 0, 1, 1, 0, 1, 1, 1, 1.0, 1.0, 0.0,
        4, 0], dtype=object),
 array(['turdbirdwerd', 'turdbirdwerd', nan, 0, 2, 2, 0, 2, 2, 2, 0.75,
        0.833333, 0.0, 0.0, 0.0], dtype=object),
 array(['turdbirdwerd', 'turdbirdwerd', nan, 0, 1, 1, 0, 1, 1, 1, 1.0, 1.0,
        0.0, 12, 0], dtype=object),
 array(['mathaiser', 'mathaiser', nan, 0, 1, 1, 0, 1, 1, 1, 1.0, 1.0, 0.0,
        0.0, 0.0], dtype=object),
 array(['mathaiser', 'mathaiser', nan, 0, 2, 2, 0, 2, 2, 1, 1.0, 1.0, 0.0,
        4, 0], dtype=object),
 array(['messyslate', 'messyslate', nan, 0, 2, 2, 0, 2, 2, 1, 1.0, 1.0,
        0.0, 0.0, 0.0], dtype=object),
 array(['messyslate', 'messyslate', nan, 0, 1, 1, 0, 2, 2, 1, 1.0, 1.0,
        0.0, 3, 0], dtype=object),
 array(['majordominus', 'majordominus', nan, 0, 1, 1, 0, 1, 1, 1, 1.0, 1.0,
        0.0, 0.0, 0.0], dtype=object),
 array(['majordominus', 'majordominus', nan, 0, 1, 1, 0, 1, 1, 1, 1.0, 1.0,
        0.0, 17, 0], dtype=object),
 array(['loveskoalas', 'loveskoalas', nan, 0, 1, 1, 0, 1, 1, 1, 1.0, 1.0,
        0.0, 0.0, 0.0], dtype=object),
 array(['loveskoalas', 'loveskoalas', nan, 0, 4, 4, 0, 6, 6, 2, 0.625, 0.7,
        0.0, 6, 0], dtype=object),
 array(['noobcryptotraderguy', 'noobcryptotraderguy', nan, 0, 2, 2, 0, 2,
        2, 1, 1.0, 1.0, 0.0, 0.0, 0.0], dtype=object),
 array(['noobcryptotraderguy', 'noobcryptotraderguy', nan, 0, 2, 2, 0, 2,
        2, 1, 1.0, 1.0, 0.0, 10, 0], dtype=object),
 array(['FluffyPick', 'FluffyPick', nan, 0, 1, 1, 0, 1, 1, 2, 0.666667,
        0.75, 0.0, 0.0, 0.0], dtype=object),
 array(['FluffyPick', 'FluffyPick', nan, 0, 2, 2, 0, 2, 2, 1, 1.0, 1.0,
        0.0, 12, 0], dtype=object),
 array(['ImportantDemand9701', 'ImportantDemand9701', nan, 0, 4, 4, 0, 4,
        4, 2, 0.75, 0.833333, 0.0, 0.0, 0.0], dtype=object),
 array(['ImportantDemand9701', 'ImportantDemand9701', nan, 0, 1, 1, 0, 2,
        2, 1, 1.0, 1.0, 0.0, 10, 0], dtype=object),
 array(['ISaidThatOnPurpose', 'ISaidThatOnPurpose', nan, 0, 1, 1, 0, 1, 1,
        1, 1.0, 1.0, 0.0, 0.0, 0.0], dtype=object),
 array(['ISaidThatOnPurpose', 'ISaidThatOnPurpose', nan, 0, 1, 1, 0, 1, 1,
        1, 1.0, 1.0, 0.0, 5, 0], dtype=object),
 array(['JMP-23', 'JMP-23', nan, 0, 1, 1, 0, 1, 1, 1, 1.0, 1.0, 0.0, 0.0,
        0.0], dtype=object),
 array(['JMP-23', 'JMP-23', nan, 0, 2, 2, 0, 3, 3, 2, 0.666667, 0.75, 0.0,
        6, 0], dtype=object),
 array(['Aurtach', 'Aurtach', nan, 0, 1, 1, 0, 1, 1, 2, 0.666667, 0.75,
        0.0, 0.0, 0.0], dtype=object),
 array(['Aurtach', 'Aurtach', nan, 0, 1, 1, 0, 1, 1, 1, 1.0, 1.0, 0.0, 4,
        0], dtype=object),
 array(['Banned_by_WSB_thrice', 'Banned_by_WSB_thrice', nan, 0, 1, 1, 0, 1,
        1, 1, 1.0, 1.0, 0.0, 0.0, 0.0], dtype=object),
 array(['Banned_by_WSB_thrice', 'Banned_by_WSB_thrice', nan, 0, 1, 1, 0,
        14, 14, 1, 1.0, 1.0, 0.0, 0, 0], dtype=object),
 array(['-ap', '-ap', nan, 0, 1, 1, 0, 1, 1, 3, 0.44444399999999995,
        0.541667, 0.0, 0.0, 0.0], dtype=object),
 array(['orange-applejuice', 'orange-applejuice', nan, 0, 1, 1, 0, 3, 3, 1,
        1.0, 1.0, 0.0, 17, 0], dtype=object),
 array(['Cryptoguruboss', 'Cryptoguruboss', nan, 0, 3, 3, 0, 3, 3, 3,
        0.5217390000000001, 0.597222, 0.0, 0.166667, 0.0], dtype=object),
 array(['Cryptoguruboss', 'Cryptoguruboss', nan, 0, 1, 1, 0, 1, 1, 1, 1.0,
        1.0, 0.0, 4, 0], dtype=object),
 array(['CromulentDucky', 'CromulentDucky', nan, 0, 1, 1, 0, 1, 1, 1, 1.0,
        1.0, 0.0, 0.0, 0.0], dtype=object),
 array(['CromulentDucky', 'CromulentDucky', nan, 0, 2, 2, 0, 4, 4, 1, 1.0,
        1.0, 0.0, 3, 0], dtype=object),
 array(['Crumbs4you', 'Crumbs4you', nan, 0, 1, 1, 0, 1, 1, 1, 1.0, 1.0,
        0.0, 0.0, 0.0], dtype=object),
 array(['Crumbs4you', 'Crumbs4you', nan, 0, 1, 1, 0, 1, 1, 3, 0.5,
        0.583333, 0.0, 13, 0], dtype=object),
 array(['CriticalSodium', 'CriticalSodium', nan, 0, 1, 1, 0, 1, 1, 2,
        0.666667, 0.75, 0.0, 0.0, 0.0], dtype=object),
 array(['CriticalSodium', 'CriticalSodium', nan, 0, 1, 1, 0, 1, 1, 1, 1.0,
        1.0, 0.0, 0, 0], dtype=object),
 array(['Common_Ad_4160', 'Common_Ad_4160', nan, 0, 1, 1, 0, 1, 1, 1, 1.0,
        1.0, 0.0, 0.0, 0.0], dtype=object),
 array(['Common_Ad_4160', 'Common_Ad_4160', nan, 0, 1, 1, 0, 2, 2, 2,
        0.666667, 0.75, 0.0, 13, 0], dtype=object),
 array(['CallingGooses', 'CallingGooses', nan, 0, 2, 2, 0, 2, 2, 1, 1.0,
        1.0, 0.0, 0.0, 0.0], dtype=object),
 array(['CallingGooses', 'CallingGooses', nan, 0, 4, 4, 0, 6, 6, 2,
        0.833333, 0.9, 0.0, 5, 0], dtype=object),
 array(['Bonkerz4Stonkerz', 'Bonkerz4Stonkerz', nan, 0, 1, 1, 0, 1, 1, 1,
        1.0, 1.0, 0.0, 0.0, 0.0], dtype=object),
 array(['Bonkerz4Stonkerz', 'Bonkerz4Stonkerz', nan, 0, 1, 1, 0, 7, 7, 1,
        1.0, 1.0, 0.0, 0, 0], dtype=object),
 array(['Capital_Recognition', 'Capital_Recognition', nan, 0, 1, 1, 0, 1,
        1, 1, 1.0, 1.0, 0.0, 0.0, 0.0], dtype=object),
 array(['Capital_Recognition', 'Capital_Recognition', nan, 0, 1, 1, 0, 3,
        3, 2, 0.6, 0.666667, 0.0, 10, 0], dtype=object),
 array(['Unlucky-Prize', 'Unlucky-Prize', nan, 0, 1, 1, 0, 1, 1, 2,
        0.555556, 0.6, 0.0, 0.0, 0.0], dtype=object),
 array(['Unlucky-Prize', 'Unlucky-Prize', nan, 0, 1, 1, 0, 1, 1, 1, 1.0,
        1.0, 0.0, 1, 0], dtype=object),
 array(['SuperGhozt', 'SuperGhozt', nan, 0, 1, 1, 0, 1, 1, 1, 1.0, 1.0,
        0.0, 0.0, 0.0], dtype=object),
 array(['SuperGhozt', 'SuperGhozt', nan, 0, 1, 1, 0, 1, 1, 2, 0.666667,
        0.75, 0.0, 12, 0], dtype=object),
 array(['ashdraked', 'ashdraked', nan, 0, 1, 1, 0, 1, 1, 1, 1.0, 1.0, 0.0,
        0.0, 0.0], dtype=object),
 array(['ashdraked', 'ashdraked', nan, 0, 1, 1, 0, 2, 2, 2, 0.6, 0.666667,
        0.0, 12, 0], dtype=object),
 array(['Noah_saav', 'Noah_saav', nan, 0, 1, 1, 0, 1, 1, 1, 1.0, 1.0, 0.0,
        0.0, 0.0], dtype=object),
 array(['Noah_saav', 'Noah_saav', nan, 0, 1, 1, 0, 1, 1, 1, 1.0, 1.0, 0.0,
        1, 0], dtype=object),
 array(['Serpico2', 'Serpico2', nan, 0, 1, 1, 0, 1, 1, 1, 1.0, 1.0, 0.0,
        0.0, 0.0], dtype=object),
 array(['Serpico2', 'Serpico2', nan, 0, 2, 2, 0, 2, 2, 2, 0.75, 0.833333,
        0.0, 7, 0], dtype=object),
 array(['Shotgun516', 'Shotgun516', nan, 0, 1, 1, 0, 1, 1, 1, 1.0, 1.0,
        0.0, 0.0, 0.0], dtype=object),
 array(['Shotgun516', 'Shotgun516', nan, 0, 1, 1, 0, 2, 2, 2, 0.555556,
        0.6, 0.0, 13, 0], dtype=object)]

In [ ]:
df_btc_wsb = pd.DataFrame(btc_wsb, columns=list(bitcoin.columns))
df_btc_wsb

                       Id                 Label  ...  clustering  eigencentrality
0                 Seeders               Seeders  ...    0.000000         0.000000
1                 Seeders               Seeders  ...    0.000000         0.000000
2          yourbrotherrex        yourbrotherrex  ...    0.000000         0.000000
3          yourbrotherrex        yourbrotherrex  ...    5.000000         0.000000
4                rewanpaj              rewanpaj  ...    0.000000         0.013383
5                rewanpaj              rewanpaj  ...    5.000000         0.000000
6              graham0025            graham0025  ...    0.000000         0.000000
7              graham0025            graham0025  ...    1.000000         0.000000
8               khaotickk             khaotickk  ...    0.000000         0.000000
9               khaotickk             khaotickk  ...    5.000000         0.000000
10            Letitride37           Letitride37  ...    0.166667         0.000000
11            Letitride37           Letitride37  ...    5.000000         0.000000
12          StefanStandUp         StefanStandUp  ...    0.000000         0.000000
13          StefanStandUp         StefanStandUp  ...    4.000000         0.000000
14            hivemind999           hivemind999  ...    0.000000         0.000000
15            hivemind999           hivemind999  ...   17.000000         0.000000
16               NonGNonM              NonGNonM  ...    0.000000         0.000000
17               NonGNonM              NonGNonM  ...    0.000000         0.000000
18           atreides4242          atreides4242  ...    0.000000         0.000000
19           atreides4242          atreides4242  ...   10.000000         0.000000
20              DillonSyp             DillonSyp  ...    0.000000         0.000000
21              DillonSyp             DillonSyp  ...    4.000000         0.000000
22         Drunkn_Cricket        Drunkn_Cricket  ...    0.000000         0.000000
23         Drunkn_Cricket        Drunkn_Cricket  ...   12.000000         0.000000
24         MoundSamurai19        MoundSamurai19  ...    0.000000         0.000000
25         MoundSamurai19        MoundSamurai19  ...    6.000000         0.000000
26                 idster                idster  ...    0.000000         0.000000
27            -Squidster-           -Squidster-  ...   13.000000         0.000000
28               kkB1airs              kkB1airs  ...    0.000000         0.000000
29               kkB1airs              kkB1airs  ...   10.000000         0.000000
30              jayeballz             jayeballz  ...    0.000000         0.000000
31              jayeballz             jayeballz  ...   10.000000         0.000000
32          jharedtroll23         jharedtroll23  ...    0.000000         0.000000
33          jharedtroll23         jharedtroll23  ...    4.000000         0.000000
34                 jwonz_                jwonz_  ...    0.000000         0.000000
35                 jwonz_                jwonz_  ...    4.000000         0.000000
36              jason8585             jason8585  ...    0.000000         0.000000
37              jason8585             jason8585  ...   10.000000         0.000000
38       image_linker_bot      image_linker_bot  ...    0.000000         0.000000
39       image_linker_bot      image_linker_bot  ...    4.000000         0.000000
40                kdogz69               kdogz69  ...    0.000000         0.000000
41                kdogz69               kdogz69  ...   14.000000         2.000000
42                d1g1tal               d1g1tal  ...    0.000000         0.000000
43                d1g1tal               d1g1tal  ...   12.000000         0.000000
44             domingolin            domingolin  ...    0.000000         0.000000
45             domingolin            domingolin  ...    8.000000         0.000000
46               caeseron              caeseron  ...    0.000000         0.000000
47               caeseron              caeseron  ...   11.000000         0.000000
48             commo64dor            commo64dor  ...    0.000000         0.000000
49             commo64dor            commo64dor  ...   11.000000         0.000000
50            crossthrows           crossthrows  ...    0.000000         0.000000
51            crossthrows           crossthrows  ...   10.000000         0.000000
52               eyefrica              eyefrica  ...    0.000000         0.000000
53               eyefrica              eyefrica  ...    3.000000         0.000000
54        eddiepaperhands       eddiepaperhands  ...    0.000000         0.000000
55        eddiepaperhands       eddiepaperhands  ...    4.000000         0.000000
56             superhappy            superhappy  ...    0.000000         0.000000
57          superhappykid         superhappykid  ...    2.000000         0.000000
58          telperiontree         telperiontree  ...    0.000000         0.000000
59          telperiontree         telperiontree  ...    2.000000         0.000000
60           sassyover123          sassyover123  ...    0.000000         0.000000
61           sassyover123          sassyover123  ...   10.000000         0.000000
62            xsunpotionx           xsunpotionx  ...    0.000000         0.000000
63            xsunpotionx           xsunpotionx  ...   10.000000         0.000000
64              yacnamron             yacnamron  ...    0.000000         0.000000
65              yacnamron             yacnamron  ...    4.000000         0.000000
66           turdbirdwerd          turdbirdwerd  ...    0.000000         0.000000
67           turdbirdwerd          turdbirdwerd  ...   12.000000         0.000000
68              mathaiser             mathaiser  ...    0.000000         0.000000
69              mathaiser             mathaiser  ...    4.000000         0.000000
70             messyslate            messyslate  ...    0.000000         0.000000
71             messyslate            messyslate  ...    3.000000         0.000000
72           majordominus          majordominus  ...    0.000000         0.000000
73           majordominus          majordominus  ...   17.000000         0.000000
74            loveskoalas           loveskoalas  ...    0.000000         0.000000
75            loveskoalas           loveskoalas  ...    6.000000         0.000000
76    noobcryptotraderguy   noobcryptotraderguy  ...    0.000000         0.000000
77    noobcryptotraderguy   noobcryptotraderguy  ...   10.000000         0.000000
78             FluffyPick            FluffyPick  ...    0.000000         0.000000
79             FluffyPick            FluffyPick  ...   12.000000         0.000000
80    ImportantDemand9701   ImportantDemand9701  ...    0.000000         0.000000
81    ImportantDemand9701   ImportantDemand9701  ...   10.000000         0.000000
82     ISaidThatOnPurpose    ISaidThatOnPurpose  ...    0.000000         0.000000
83     ISaidThatOnPurpose    ISaidThatOnPurpose  ...    5.000000         0.000000
84                 JMP-23                JMP-23  ...    0.000000         0.000000
85                 JMP-23                JMP-23  ...    6.000000         0.000000
86                Aurtach               Aurtach  ...    0.000000         0.000000
87                Aurtach               Aurtach  ...    4.000000         0.000000
88   Banned_by_WSB_thrice  Banned_by_WSB_thrice  ...    0.000000         0.000000
89   Banned_by_WSB_thrice  Banned_by_WSB_thrice  ...    0.000000         0.000000
90                    -ap                   -ap  ...    0.000000         0.000000
91      orange-applejuice     orange-applejuice  ...   17.000000         0.000000
92         Cryptoguruboss        Cryptoguruboss  ...    0.166667         0.000000
93         Cryptoguruboss        Cryptoguruboss  ...    4.000000         0.000000
94         CromulentDucky        CromulentDucky  ...    0.000000         0.000000
95         CromulentDucky        CromulentDucky  ...    3.000000         0.000000
96             Crumbs4you            Crumbs4you  ...    0.000000         0.000000
97             Crumbs4you            Crumbs4you  ...   13.000000         0.000000
98         CriticalSodium        CriticalSodium  ...    0.000000         0.000000
99         CriticalSodium        CriticalSodium  ...    0.000000         0.000000
100        Common_Ad_4160        Common_Ad_4160  ...    0.000000         0.000000
101        Common_Ad_4160        Common_Ad_4160  ...   13.000000         0.000000
102         CallingGooses         CallingGooses  ...    0.000000         0.000000
103         CallingGooses         CallingGooses  ...    5.000000         0.000000
104      Bonkerz4Stonkerz      Bonkerz4Stonkerz  ...    0.000000         0.000000
105      Bonkerz4Stonkerz      Bonkerz4Stonkerz  ...    0.000000         0.000000
106   Capital_Recognition   Capital_Recognition  ...    0.000000         0.000000
107   Capital_Recognition   Capital_Recognition  ...   10.000000         0.000000
108         Unlucky-Prize         Unlucky-Prize  ...    0.000000         0.000000
109         Unlucky-Prize         Unlucky-Prize  ...    1.000000         0.000000
110            SuperGhozt            SuperGhozt  ...    0.000000         0.000000
111            SuperGhozt            SuperGhozt  ...   12.000000         0.000000
112             ashdraked             ashdraked  ...    0.000000         0.000000
113             ashdraked             ashdraked  ...   12.000000         0.000000
114             Noah_saav             Noah_saav  ...    0.000000         0.000000
115             Noah_saav             Noah_saav  ...    1.000000         0.000000
116              Serpico2              Serpico2  ...    0.000000         0.000000
117              Serpico2              Serpico2  ...    7.000000         0.000000
118            Shotgun516            Shotgun516  ...    0.000000         0.000000
119            Shotgun516            Shotgun516  ...   13.000000         0.000000

[120 rows x 15 columns]

#BTC-Crypto-Stocks-WSB Overlap

In [ ]:
btc_cryp_stocks_wsb = []

for i in bitcoin["Id"]:
  for j in crypto["Id"]:
    if i in j:
      btc_cryp_stocks_wsb.append(bitcoin[bitcoin["Id"]==i].values[0])
      btc_cryp_stocks_wsb.append(crypto[crypto["Id"]==j].values[0][:15])
    for k in stocks["Id"]:
      if i in k:
        btc_cryp_stocks_wsb.append(stocks[stocks["Id"]==k].values[0][:15])
      for l in wsb["Id"]:
        if i in l:
          btc_cryp_stocks_wsb.append(wsb[wsb["Id"]==l].values[0][:15])

btc_cryp_stocks_wsb

In [ ]:
df_btc_cryp_stocks_wsb = pd.DataFrame(btc_cryp_stocks_wsb, columns=list(bitcoin.columns))
df_btc_cryp_stocks_wsb

#Stocks-WSB Overlap

In [ ]:
stocks_wsb = []

for i in stocks["Id"]:
  for j in wsb["Id"]:
    if i in j:
      stocks_wsb.append(stocks[stocks["Id"]==i].values[0])
      stocks_wsb.append(wsb[wsb["Id"]==j].values[0])

In [ ]:
df_stocks_wsb = pd.DataFrame(stocks_wsb, columns=list(stocks.columns))
df_stocks_wsb

                       Id                 Label  ...  strongcompnum  Cluter-ID
0           El_Narco_Polo         El_Narco_Polo  ...       5.000000          7
1           El_Narco_Polo         El_Narco_Polo  ...       0.000000         13
2                 drtywlf               drtywlf  ...       6.000000          7
3                 drtywlf               drtywlf  ...       0.010200         13
4    MedicalSchoolStudent  MedicalSchoolStudent  ...      10.000000          7
5    MedicalSchoolStudent  MedicalSchoolStudent  ...       0.000000         13
6           PoeDameronski         PoeDameronski  ...      15.000000          7
7           PoeDameronski         PoeDameronski  ...       0.000000         13
8                AngelaQQ              AngelaQQ  ...      20.000000          7
9                AngelaQQ              AngelaQQ  ...       0.000000         13
10          stage2loxload         stage2loxload  ...      21.000000          7
11          stage2loxload         stage2loxload  ...       0.000000         13
12     AuthorAdamOConnell    AuthorAdamOConnell  ...      23.000000          7
13     AuthorAdamOConnell    AuthorAdamOConnell  ...       0.000000         13
14            lordjonas88           lordjonas88  ...      26.000000          7
15            lordjonas88           lordjonas88  ...       0.000000         13
16         granularclouds        granularclouds  ...      40.000000          7
17         granularclouds        granularclouds  ...       0.000000         13
18         lowrankcluster        lowrankcluster  ...      43.000000          7
19         lowrankcluster        lowrankcluster  ...       0.000000         13
20        BuffaloFortress       BuffaloFortress  ...      45.000000          7
21        BuffaloFortress       BuffaloFortress  ...       0.000000         13
22            Dodgeball62           Dodgeball62  ...      46.000000          7
23            Dodgeball62           Dodgeball62  ...       0.000000         13
24           EngiNERD1988          EngiNERD1988  ...      48.000000          7
25           EngiNERD1988          EngiNERD1988  ...       0.000000         13
26               dotobird              dotobird  ...      31.000000          7
27               dotobird              dotobird  ...       0.000000         13
28          VTX1800Riders         VTX1800Riders  ...      55.000000          7
29          VTX1800Riders         VTX1800Riders  ...       0.000000         13
30                chrswnd               chrswnd  ...      57.000000          7
31                chrswnd               chrswnd  ...       0.000000         13
32            PantsMicGee           PantsMicGee  ...      63.000000          7
33            PantsMicGee           PantsMicGee  ...       0.000000         13
34       send_me_your_GUH      send_me_your_GUH  ...      64.000000          7
35       send_me_your_GUH      send_me_your_GUH  ...       0.000000         13
36            accumelator           accumelator  ...     108.000000          7
37            accumelator           accumelator  ...       0.000000         13
38              Manstrife             Manstrife  ...     111.000000          7
39              Manstrife             Manstrife  ...       0.000000         13
40             JamesBigam            JamesBigam  ...      36.000000          7
41             JamesBigam            JamesBigam  ...       0.000000         13
42      PremiumThetaThots     PremiumThetaThots  ...     120.000000          7
43      PremiumThetaThots     PremiumThetaThots  ...       0.000000         13
44         JustSayingMuch        JustSayingMuch  ...     121.000000          7
45         JustSayingMuch        JustSayingMuch  ...       0.000000         13
46          feelin_cheesy         feelin_cheesy  ...     129.000000          7
47          feelin_cheesy         feelin_cheesy  ...       0.000000         13
48    NotYoAverageChosen1   NotYoAverageChosen1  ...     133.000000          7
49    NotYoAverageChosen1   NotYoAverageChosen1  ...       0.000000         13
50               Kashm11r              Kashm11r  ...     134.000000          7
51               Kashm11r              Kashm11r  ...       0.000000         13
52              ciaran036             ciaran036  ...     138.000000          7
53              ciaran036             ciaran036  ...       0.000000         13
54       Unusual-Designer      Unusual-Designer  ...     139.000000          7
55       Unusual-Designer      Unusual-Designer  ...       0.000000         13
56         Upbeat_Control        Upbeat_Control  ...     141.000000          7
57         Upbeat_Control        Upbeat_Control  ...       0.000000         13
58             nld_mark89            nld_mark89  ...     159.000000          7
59             nld_mark89            nld_mark89  ...       0.000000         13
60                Isunova               Isunova  ...     160.000000          7
61                Isunova               Isunova  ...       0.000000         13
62         steventucker91        steventucker91  ...     165.000000          7
63         steventucker91        steventucker91  ...       0.000000         13
64              mandingob             mandingob  ...     172.000000          7
65              mandingob             mandingob  ...       0.000000         13
66    EstablishmentNo2664   EstablishmentNo2664  ...     187.000000          7
67    EstablishmentNo2664   EstablishmentNo2664  ...       0.000000         13
68            ballz__d33p           ballz__d33p  ...     190.000000          7
69            ballz__d33p           ballz__d33p  ...       0.000000         13
70      Actually-Yo-Momma     Actually-Yo-Momma  ...     195.000000          7
71      Actually-Yo-Momma     Actually-Yo-Momma  ...       0.000000         13
72              jhonnyhax             jhonnyhax  ...     199.000000          7
73              jhonnyhax             jhonnyhax  ...       0.000000         13
74               00001143              00001143  ...     203.000000          7
75               00001143              00001143  ...       0.000000         13
76             Gabriele25            Gabriele25  ...     206.000000          7
77             Gabriele25            Gabriele25  ...       0.000000         13
78            lewdachrisx           lewdachrisx  ...     209.000000          7
79            lewdachrisx           lewdachrisx  ...       0.000000         13
80                 Berto_                Berto_  ...     215.000000          7
81                 Berto_                Berto_  ...       0.000000         13
82   GeneEnvironmental925  GeneEnvironmental925  ...     235.000000          7
83   GeneEnvironmental925  GeneEnvironmental925  ...       0.000000         13
84           HappyCrabDay          HappyCrabDay  ...     258.000000          7
85           HappyCrabDay          HappyCrabDay  ...       0.000000         13
86              Grymninja             Grymninja  ...     265.000000          7
87              Grymninja             Grymninja  ...       0.000000         13
88               paddyo99              paddyo99  ...     271.000000          7
89               paddyo99              paddyo99  ...       0.000000         13
90              nhlsm_666             nhlsm_666  ...     275.000000          7
91              nhlsm_666             nhlsm_666  ...       0.008777         13
92                Swan990               Swan990  ...     277.000000          7
93                Swan990               Swan990  ...       0.000000         13
94       bigchungusmode96      bigchungusmode96  ...     279.000000          7
95       bigchungusmode96      bigchungusmode96  ...       0.000000         13
96          Punch_Tornado         Punch_Tornado  ...     282.000000          7
97          Punch_Tornado         Punch_Tornado  ...       0.000000         13
98              justme129             justme129  ...     283.000000          7
99              justme129             justme129  ...       0.000000         13
100        lPolythenePaml        lPolythenePaml  ...     299.000000          7
101        lPolythenePaml        lPolythenePaml  ...       0.000000         13
102         Rand_alThor__         Rand_alThor__  ...     300.000000          7
103         Rand_alThor__         Rand_alThor__  ...       0.000000         13
104    Nope______________    Nope______________  ...     308.000000          7
105    Nope______________    Nope______________  ...       0.000000         13
106             PeddyCash             PeddyCash  ...     313.000000          7
107             PeddyCash             PeddyCash  ...       0.000000         13
108       PaleMeaning6224       PaleMeaning6224  ...     321.000000          7
109       PaleMeaning6224       PaleMeaning6224  ...       0.000000         13
110               PLTRGOD               PLTRGOD  ...     325.000000          7
111               PLTRGOD               PLTRGOD  ...       0.000000         13
112          Stonkkkkkman          Stonkkkkkman  ...      72.000000          7
113          Stonkkkkkman          Stonkkkkkman  ...       0.000000         13
114           Rclarkttu07           Rclarkttu07  ...     333.000000          7
115           Rclarkttu07           Rclarkttu07  ...       0.000000         13
116              mithyyyy              mithyyyy  ...     349.000000          7
117              mithyyyy              mithyyyy  ...       0.000000         13
118      RedditingAtWork5      RedditingAtWork5  ...     367.000000          7
119      RedditingAtWork5      RedditingAtWork5  ...       0.000000         13
120            CumFlakess            CumFlakess  ...     394.000000          7
121            CumFlakess            CumFlakess  ...       0.000000         13
122       csthrowaway1993       csthrowaway1993  ...     398.000000          7
123       csthrowaway1993       csthrowaway1993  ...       0.000000         13
124     Construction_Man1     Construction_Man1  ...     405.000000          7
125     Construction_Man1     Construction_Man1  ...       0.000000         13
126        WilliamATurner        WilliamATurner  ...     408.000000          7
127        WilliamATurner        WilliamATurner  ...       0.000000         13
128       typicalshitpost       typicalshitpost  ...     414.000000          7
129       typicalshitpost       typicalshitpost  ...       0.000000         13
130            viperswhip            viperswhip  ...     419.000000          7
131            viperswhip            viperswhip  ...       0.000000         13
132       AnonymousLoner1       AnonymousLoner1  ...     420.000000          7
133       AnonymousLoner1       AnonymousLoner1  ...       0.000000         13
134         Dawgstradamus         Dawgstradamus  ...     424.000000          7
135         Dawgstradamus         Dawgstradamus  ...       0.000000         13
136           spaceporter           spaceporter  ...     431.000000          7
137           spaceporter           spaceporter  ...       0.000000         13
138            Bulleyes87            Bulleyes87  ...     440.000000          7
139            Bulleyes87            Bulleyes87  ...       0.000000         13
140  Cheap_Confidence_657  Cheap_Confidence_657  ...     458.000000          7
141  Cheap_Confidence_657  Cheap_Confidence_657  ...       0.000000         13
142             Baykey123             Baykey123  ...     466.000000          7
143             Baykey123             Baykey123  ...       0.000000         13
144               56000hp               56000hp  ...     479.000000          7
145               56000hp               56000hp  ...       0.000000         13
146            Trance2000            Trance2000  ...     482.000000          7
147            Trance2000            Trance2000  ...       0.000000         13
148            Elder_Cole            Elder_Cole  ...     487.000000          7
149            Elder_Cole            Elder_Cole  ...       0.003413         13
150           xsunpotionx           xsunpotionx  ...     494.000000          7
151           xsunpotionx           xsunpotionx  ...       0.000000         13
152        bigbluntz42069        bigbluntz42069  ...     496.000000          7
153        bigbluntz42069        bigbluntz42069  ...       0.000000         13
154          Timbishop123          Timbishop123  ...     499.000000          7
155          Timbishop123          Timbishop123  ...       0.000000         13
156              edge2528              edge2528  ...     500.000000          7
157              edge2528              edge2528  ...       0.000000         13
158               youni89               youni89  ...     507.000000          7
159               youni89               youni89  ...       0.000000         13
160          1000001_Ants          1000001_Ants  ...     508.000000          7
161          1000001_Ants          1000001_Ants  ...       0.000000         13
162       blackylawless69       blackylawless69  ...     509.000000          7
163       blackylawless69       blackylawless69  ...       0.000000         13
164              2marston              2marston  ...     512.000000          7
165              2marston              2marston  ...       0.000000         13
166     Due-Economics4109     Due-Economics4109  ...     518.000000          7
167     Due-Economics4109     Due-Economics4109  ...       0.000000         13
168         Unicorncorn21         Unicorncorn21  ...     524.000000          7
169         Unicorncorn21         Unicorncorn21  ...       0.000000         13
170   idontfuckwithstupid   idontfuckwithstupid  ...     157.000000          7
171   idontfuckwithstupid   idontfuckwithstupid  ...       0.000000         13
172            champybaby            champybaby  ...     543.000000          7
173            champybaby            champybaby  ...       0.000000         13
174             bossat124             bossat124  ...     556.000000          7
175             bossat124             bossat124  ...       0.000000         13
176            itskelvinn            itskelvinn  ...     563.000000          7
177            itskelvinn            itskelvinn  ...       0.000000         13
178           bye_stander           bye_stander  ...     568.000000          7
179           bye_stander           bye_stander  ...       0.000000         13
180            ismellpuke            ismellpuke  ...     582.000000          7
181            ismellpuke            ismellpuke  ...       0.000000         13
182      boobiesohboobies      boobiesohboobies  ...     590.000000          7
183      boobiesohboobies      boobiesohboobies  ...       0.000000         13
184          heerofenix95          heerofenix95  ...     596.000000          7
185          heerofenix95          heerofenix95  ...       0.000000         13
186           humbleobama           humbleobama  ...     597.000000          7
187           humbleobama           humbleobama  ...       0.000000         13
188          gini_lee1003          gini_lee1003  ...     624.000000          7
189          gini_lee1003          gini_lee1003  ...       0.000000         13
190              givingdj              givingdj  ...     625.000000          7
191              givingdj              givingdj  ...       0.000000         13
192             finkalot1             finkalot1  ...     627.000000          7
193             finkalot1             finkalot1  ...       0.000000         13
194               erpatel               erpatel  ...     639.000000          7
195               erpatel               erpatel  ...       0.000000         13
196            drkrab2010            drkrab2010  ...     649.000000          7
197            drkrab2010            drkrab2010  ...       0.000000         13
198       feelinglostclub       feelinglostclub  ...     652.000000          7
199       feelinglostclub       feelinglostclub  ...       0.000000         13
200           dreamedaxis           dreamedaxis  ...     653.000000          7
201           dreamedaxis           dreamedaxis  ...       0.000000         13
202            hockeyfun1            hockeyfun1  ...     675.000000          7
203            hockeyfun1            hockeyfun1  ...       0.000000         13
204          housebird350          housebird350  ...     678.000000          7
205          housebird350          housebird350  ...       0.000000         13
206           hristopelov           hristopelov  ...     680.000000          7
207           hristopelov           hristopelov  ...       0.000000         13
208      competitivebunny      competitivebunny  ...     683.000000          7
209      competitivebunny      competitivebunny  ...       0.000000         13
210            glamoutfit            glamoutfit  ...     686.000000          7
211            glamoutfit            glamoutfit  ...       0.000000         13
212                danny_                danny_  ...     687.000000          7
213         danny_wayland         danny_wayland  ...       0.000000         13
214    gravityCaffeStocks    gravityCaffeStocks  ...     701.000000          7
215    gravityCaffeStocks    gravityCaffeStocks  ...       0.000000         13
216               shoxyy1               shoxyy1  ...     711.000000          7
217               shoxyy1               shoxyy1  ...       0.000000         13
218     segmentfaultError     segmentfaultError  ...     718.000000          7
219     segmentfaultError     segmentfaultError  ...       0.000000         13
220          sassyover123          sassyover123  ...     726.000000          7
221          sassyover123          sassyover123  ...       0.000000         13
222      similiarintrests      similiarintrests  ...     733.000000          7
223      similiarintrests      similiarintrests  ...       0.001950         13
224      staniel_diverson      staniel_diverson  ...     738.000000          7
225      staniel_diverson      staniel_diverson  ...       0.000000         13
226          specialcunts          specialcunts  ...     740.000000          7
227          specialcunts          specialcunts  ...       0.000000         13
228          snoopysnoops          snoopysnoops  ...     749.000000          7
229          snoopysnoops          snoopysnoops  ...       0.000000         13
230         sleepybot0524         sleepybot0524  ...     753.000000          7
231         sleepybot0524         sleepybot0524  ...       0.000000         13
232             redderper             redderper  ...     760.000000          7
233             redderper             redderper  ...       0.000000         13
234           recklessSPY           recklessSPY  ...     762.000000          7
235           recklessSPY           recklessSPY  ...       0.000000         13
236            ryuj1nsr21            ryuj1nsr21  ...     780.000000          7
237            ryuj1nsr21            ryuj1nsr21  ...       0.000000         13
238       update-yo-email       update-yo-email  ...     811.000000          7
239       update-yo-email       update-yo-email  ...       0.000000         13
240          whale_random          whale_random  ...     821.000000          7
241          whale_random          whale_random  ...       0.000000         13
242              wyboongk              wyboongk  ...     833.000000          7
243              wyboongk              wyboongk  ...       0.000000         13
244          winniekawaii          winniekawaii  ...     836.000000          7
245          winniekawaii          winniekawaii  ...       0.000000         13
246         taddymason_22         taddymason_22  ...     849.000000          7
247         taddymason_22         taddymason_22  ...       0.000000         13
248           themixx2019           themixx2019  ...     860.000000          7
249           themixx2019           themixx2019  ...       0.000000         13
250      throwaway8619425      throwaway8619425  ...     862.000000          7
251      throwaway8619425      throwaway8619425  ...       0.000000         13